.swiper-container {
  width: 600px;
  height: 350px;
}


.art {
  max-width: 520px;
  width: 49%;
  margin: 0;
  text-align: left;
}

.read-more {
  &-checkbox {
    display: none;
  }

  &-label {
    display: none;
  }
}

.wrapper-choose {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto 95px;

  .title:before {
    position: absolute;
    display: block;
    height: 165px;
    width: auto;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: 'you can';
    font-size: 150px;
    font-weight: 900;
    color: rgba(17, 50, 78, 0.2);
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper-choose .title:before {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .art {
    height: 50px;
    width: 100%;
    max-width: 700px;
    margin: 0 0 25px 0;
    overflow: hidden;

    &:last-of-type {
      display: none;
    }
  }

  .read-more-label {
    position: relative;
    bottom: 0;
    left: 0;
    display: block;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 100px;
      top: 5px;
      width: 5px;
      height: 5px;
      border-left: 2px solid #1bced4;
      border-bottom: 2px solid #1bced4;
      transform: rotate(-45deg);
    }

    &:before {
      position: absolute;
      display: block;
      width: 100px;
      content: 'read more';
      color: #1bced4;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
  }


  .read-more-checkbox:checked ~ {

    .art {
      height: auto;
    }

    .art:last-of-type {
      display: block;
    }

    .read-more-label:before {
      content: "read less";
    }

    .read-more-label:after {
      transform: rotate(135deg) translate(3px, 2px);
    }

  }

  .wrapper-choose {
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;

    .title:before {
      display: none;
    }
  }

  .choose-your .container {
    padding: 0 30px;
  }
}


