.choose-your {
  @include intersection;

  &::before {
    position: absolute;
    top: -185%;
    width: 100%;
    height: 452px;
    background: url(../assets/img/lines.svg) no-repeat center;
    background-size: cover;
    content: '';
    pointer-events: none;
  }
}

.art {
  width: 49%;
  max-width: 520px;
  margin: 0;
  text-align: left;
}

.wrapper-choose {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto 95px;
}

@media only screen and (max-width: 768px) {
  .art {
    width: 100%;
    max-width: 700px;
    margin: 0 0 25px 0;
    overflow: hidden;
  }

  .wrapper-choose {
    position: relative;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    margin-bottom: 50px;
  }

  .choose-your {
    &::before {
      top: -43%;
      left: 0;
      background-position: center left 40%;
      background-size: auto;
    }

    .title {
      margin-bottom: 5px;
    }
  }
}
