.btn-submit {
  background-color: $primary-accent;
  border: none;

  &:hover {
    color: $primary-accent;
    background-color: $primary-white;
  }

  &:active {
    color: $primary-white;
    background-color: $primary-accent;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us {
  @include intersection;

  z-index: 100;
  padding: 75px 0 117px;

  textarea.input {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.3em;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(17, 50, 78, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-accent;
      border: 2px solid $primary-accent;
      border-radius: 5px;
    }
  }
}

.contact-us::before {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 550px;
  padding: 117px 0;
  background: url("../assets/img/city.png") no-repeat top 15% center;
  background-size: cover;
  opacity: 0.4;
  content: '';
  pointer-events: none;
}

.input-message {
  max-height: 120px;
  margin-bottom: 30px;
  resize: none;

  &::placeholder {
    color: $primary-white;
  }
}

.title-contact {
  margin-bottom: 50px;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 1024px;
    height: 170px;
    margin: 0 auto;
    color: $section-titles-color;
    font-weight: 900;
    font-size: 160px;
    text-transform: uppercase;
    content: 'contact';
  }
}

@media only screen and (min-width: 1440px) {
  .contact-us::before {
    background-position: 50% 100%;
  }
}

@media only screen and (max-width: 768px) {
  .contact-us {
    padding: 40px 0;
  }

  .contact-us::before {
    background-position: 0% 0;
  }
}

@media only screen and (max-width: 1024px) {
  .title-contact::before {
    display: none;
  }
}
