.btn-submit {
  border: none;
  background-image: linear-gradient(-55deg, #1bced4 0%, #1bced4 100%);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-message {
  height: 120px;
  margin-bottom: 30px;

  &::placeholder {
    color: #fff;
  }
}

