.btn-submit {
  border: none;
  background-color: #1bced4;

  &:hover {
    color: #1bced4;
    background-color: #fff;
  }

  &:active {
    color: #fff;
    background-color: #1bced4;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us {
  background: url("/img/city.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 117px 0 117px;
}

.input-message {
  height: 120px;
  margin-bottom: 30px;
  resize: none;

  &::placeholder {
    color: #fff;
  }
}

.title-contact {
  margin-bottom: 81px;

  &:before {
    position: absolute;
    display: block;
    height: 170px;
    width: 1024px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: 'contact';
    font-size: 160px;
    font-weight: 900;
    color: rgba(17, 50, 78, 0.2);
    text-transform: uppercase;
  }
}


@media only screen and (min-width: 1440px) {
  .contact-us {
    background-position: 50% 95%;
  }
}

@media only screen and (min-width: 1920px) {
  .contact-us {
    background-position: 50% 15%;
  }
}

@media only screen and (max-width: 768px) {
  .title-contact:before {
    display: none;
  }
}