.bold {
  font-weight: 700;
}

.btn-choose {
  width: 160px;
  border: 1px solid rgba(85, 187, 255, 0.5);
  background: transparent;
  color: #55baff;
  margin-bottom: 30px;
  height: 52px;

  &:hover {
    border-color: #55baff;
    background-color: #55baff;
    color: #fff;
  }

  &:active {
    border-color: rgba(85, 187, 255, 0.5);
    background: transparent;
    color: #55baff;
  }
}

.btn-cyan {
  border-color: rgba(30, 223, 208, 0.51);
  color: #1edfd0;

  &:hover {
    border-color: #1edfd0;
    background-color: #1edfd0;
    color: #fff;
  }

  &:active {
    border-color: rgba(30, 223, 208, 0.51);
    color: #1edfd0;
    background: transparent;
  }
}

.btn-grey {
  border-color: rgba(125, 125, 125, 0.5);
  color: #7d7d7d;

  &:hover {
    border-color: #7d7d7d;
    background-color: #7d7d7d;
    color: #fff;
  }

  &:active {
    border-color: rgba(125, 125, 125, 0.5);
    color: #7d7d7d;
    background: transparent;
  }
}

.btn-red {
  border-color: rgba(230, 81, 78, 0.51);
  color: #e6514e;

  &:hover {
    border-color: #e6514e;
    background-color: #e6514e;
    color: #fff;
  }

  &:active {
    border-color: rgba(230, 81, 78, 0.51);
    color: #e6514e;
    background: transparent;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 346px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #030914 0%, #030914 100%);
}

.card-features-text {
  max-width: 140px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.cards {
  display: flex;
  width: 100%;
  margin-bottom: 150px;
  padding: 0;

}

.margin {
  margin: 0 20px 36px 30px;

  font-weight: 300;

  max-width: 600px;
}

.lowercase {
  font-size: 36px;
  text-transform: lowercase;
  font-weight: 500;
  margin-bottom: 15px;
}

.title-colored{
  color: #55bbff;
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 10px 0 5px;
}

.title-cost {
  margin-bottom: 25px;
  &:before {
    position: absolute;
    display: block;
    height: 170px;
    width: auto;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: 'pricing';
    font-size: 160px;
    font-weight: 900;
    color: rgba(17, 50, 78, 0.2);
    text-transform: uppercase;
  }
}

.pagination {
  display: none;
}

.cyan {
  color: #1edfd0;
}

.grey {
  color: #7d7d7d;
}

.red {
  color: #e6514e;
}

.swiper-container {
  display: none;
}

.wrapper-cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 880px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .margin {
    text-align: left;
  }

  .title-cost:before {
    display: none;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 30px 30px;

    li {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }
    .pag-item {
      width: 29px;
      color: #fff;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }
  }

  .pag-item1 {
    &.active {
      color: #55bbff;
    }
  }

  .pag-item2 {
    &.active {
      color: #1bced4;
    }
  }

  .pag-item3 {
    &.active {
      color: #7d7d7d;
    }
  }

  .pag-item4 {
    &.active {
      color: #e6514e;
    }
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 230px;
  }

  .cards {
    display: none;
  }

  .title-cost:before {
    display: none;
  }

  .swiper-container {
    display: flex;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 30px 30px;

    li {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }
    .pag-item {
      width: 29px;
      color: #fff;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }
  }

  .pag-item1 {
    &.active {
      color: #55bbff;
    }
  }

  .pag-item2 {
    &.active {
      color: #1bced4;
    }
  }

  .pag-item3 {
    &.active {
      color: #7d7d7d;
    }
  }

  .pag-item4 {
    &.active {
      color: #e6514e;
    }
  }
}

