.cta {
  @include intersection;
  
  padding-bottom: 200px;
  text-align: center;

  &-info {
    position: relative;
    z-index: 1;
    color: $primary-white;
  }

  &-text {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .btn-start {
    color: $primary-white;
    background-color: $primary-accent;
    border: none;
  
    &:hover {
      color: $primary-accent;
      background-color: $primary-white;
    }
  
    &:active {
      color: $primary-white;
      background-color: $primary-accent;
    }
  }
}

@media all and (max-width: 768px) {
  .cta {
    padding-bottom: 100px;

    &-info {
      text-align: center;
    }
  }
}

@media all and (max-width: 360px) {
  .cta {
    text-align: left;
  }
}
