.copyright {
  max-width: 143px;
  height: 16px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;

  margin-bottom: 50px;
}

.copyright2 {
  display: none;
}

.footer-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-height: 130px;
  height: 100%;
  margin-right: 25%;
  margin-bottom: 20px;
}

.footer-nav-link {
  margin: 0 150px 15px 0;
}

.footer-logo-copyright {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 100%;
}

.wrapper-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 240px;
}

@media only screen and (max-width: 768px) {
  .copyright {
    display: none;
  }

  .copyright2 {
    display: block;
    width: 100%;
    height: 16px;
    opacity: 0.5;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align: center;
  }

  .footer-nav {
    margin: 0 0 25px 0;
    height: 350px;
    width: 210px;
  }

  .footer-nav-link {
    margin-right: 50px;
    max-width: 100px;
  }

  .wrapper-footer {
    flex-direction: column;
    padding: 0 25px 55px;
  }
}

