.footer {
  position: relative;
  padding-top: 100px;
  background: linear-gradient(to top, #000 10%, #03091400 100%);

  .footer-address {
    max-width: 245px;
    margin-top: 35px;
    color: $primary-white;
    font-weight: var(--font-weight-400);
    font-size: var(--size-14);
    font-style: normal;
    letter-spacing: 0.8px;
    opacity: 0.5;
  }
  
  .copyright2 {
    color: $primary-white;
    font-weight: var(--font-weight-400);
    font-size: var(--size-14);
    letter-spacing: 0.8px;
    opacity: 0.5;
  }
  
  .footer-nav {
    display: flex;
    flex-basis: 50%;
    flex-flow: column wrap;
    align-items: flex-start;
    max-height: 170px;
  }
  
  .footer-nav-link {
    margin: 0 0 15px 0;
  }
  
  .footer-logo-copyright {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-content: center;
  
    img {
      max-width: fit-content;
    }
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
  }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 50px;
    border-top: 2px solid $footer-divider-border;
  }
  
  .footer-info,
  .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-info-item {
    display: flex;
    align-items: center;
  
    & + & {
      margin-left: 45px;
    }
  }
  
  .footer-info-logo {
    width: 36px;
    height: 36px;
    margin-right: 15px;
  }
  
  .footer-info-text {
    color: $white;
    font-size: var(--size-14);
    text-align-last: left;
    text-indent: initial;
  }
  
  .footer-social {
    display: block;
  }
  
  .footer-social-mobile {
    display: none;
  }
  
  .footer-social-link {
    display: inline-block;
    margin-left: 15px;
  }
}



@media only screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
  }
  .footer-top,
  .footer-bottom {
    flex-direction: column;
  }

  .footer-nav {
    width: 100%;
    height: 410px;
    margin: 0 0 25px 0;
    padding-top: 40px;
  }

  .footer-nav-link {
    margin-right: 25px;
  }

  .footer-logo-copyright {
    padding-bottom: 30px;
    border-bottom: 2px solid $footer-divider-border;
  }

  .footer-bottom {
    align-items: start;
    padding-bottom: 30px;
  }

  .footer-info {
    flex-direction: column;
    align-items: start;
  }

  .footer-info-item {
    & + & {
      margin-left: 0;
    }
  }

  .copyright2 {
    padding: 20px 0;
  }

  .footer-social {
    display: none;
  }

  .footer-social-mobile {
    display: block;
  }
}
