.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 50px 20px 50px;
}

.accordion-column {
  width: 48%;
}

.filter-img {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: -1;
  opacity: 0.1;
  pointer-events: none;
}

.input-radio {
  display: none;

  &:checked ~ .tab-content {
    height: auto;
    padding: 10px 0;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }

  &:checked ~ .tab-label::after {
    transform: rotate(135deg);
  }

  &:checked ~ .tab-label {
    padding-bottom: 5px;
  }
}

.tab {
  margin-bottom: 14px;
  border-bottom: 1px solid $dark-02;
}

.tab-content {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-in-out;

  &::-webkit-scrollbar {
    width: 0.3em;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(17, 50, 78, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-accent;
    border: 2px solid $primary-accent;
    border-radius: 5px;
  }
}

.tab-text {
  margin-top: 0;
  padding: 0 10px;
  color: $primary-white;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  word-break: break-word;

  & > a {
    color: $primary-accent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tab-label {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 13px 13px 10px;
  color: $primary-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.9px;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid $primary-accent;
    border-left: 1px solid $primary-accent;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    content: '';
  }
}

.title-small {
  width: 100%;
  color: $primary-white;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 1024px;
    height: 170px;
    margin: 0 auto;
    color: $section-titles-color;
    font-weight: 900;
    font-size: 160px;
    text-transform: uppercase;
    content: 'faq';
  }
}

.wrapper-questions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto 50px;
  padding: 50px 20px 0;
}

@media only screen and (max-width: 1024px) {
  .accordion {
    margin: 0 0 50px 0;
  }

  .filter-img {
    transform: none;
  }

  .title-small::before {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .accordion {
    flex-direction: column;
    justify-content: start;
    max-width: 80%;
    margin: 0 0 30px 0;
    padding: 0 10px;
  }

  .accordion-column {
    width: 100%;
  }

  .filter-img {
    order: -1;
    width: 50%;
    min-width: 10%;
    max-width: 70%;
    margin-bottom: 25px;
    transform: translateY(50px);
  }

  .wrapper-questions {
    justify-content: center;
    padding: 50px 20px 0;
  }
}
