.accordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin-top: 50px;
}

.filter-img {
  transform: translate(65px, -50px);
}

.input-radio {
  display: none;

  &:checked ~ .tab-content {
    max-height: 100px;
  }

  &:checked ~ .tab-label:after {
    transform: rotate(135deg);
  }
}

.tab {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

.tab-content{
  max-height: 0;
  overflow: hidden;
}

.tab-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.tab-label {
  position: relative;
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.9px;
  cursor: pointer;

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    right: 0;
    top: 10px;
    border-left: 1px solid #1bced4;
    border-bottom: 1px solid #1bced4;
    transform: rotate(-45deg);
    transition: all .5s ease;
  }

}

.title-small {
  width: 100%;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-align: center;
}

.wrapper-questions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}