.logo {
  width: 138px;
  height: 27px;
}

.btn-sign-in {
  background: transparent;
  border: 1px solid $dark-05;
  outline: none;

  &:hover {
    border-color: $primary-white;
  }

  &:active {
    border-color: $dark-05;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1280px;
  height: 90px;
  margin: 0 auto;
}

.btn-top {
  position: fixed;
  right: 3%;
  bottom: 15%;
  z-index: 5;
  display: none;
  background-color: $midnight-blue;
  border-radius: 20px;
  opacity: 0.7;
  transition: opacity 0.35s ease-in-out;

  &:hover {
    opacity: 1;
  }

  & > img {
    width: 50px;
    transform: rotate(-90deg) translateX(-8%);
  }

  &.show {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .btn-sign-in {
    display: none;
  }

  .logo {
    z-index: 100;
    margin-left: 30px;
  }

  .wrapper-header {
    justify-content: space-between;
  }
}
