body {
  font-size: 18px;
  background-color: #fffcf5;
  font-family: 'Pt Sans Narrow', Helvetica, Arial, sans-serif;
  width: 100%;
  padding-top: 70px
}

p {
  color: #45474e;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 400;
  margin-top: 0;
}

.b {
  font-weight: 700;
}

svg {
  vertical-align: center;
}

h1 {
  color: #45474e;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  padding: 0;
  margin: 0 0 30px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #45474e;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
  background-color: #4f5157;
}

.logo {
  height: 50px;
  padding-left: 15px;
  padding-top: 10px;
}

.pagination {
  font-size: 17px;
  color: #45474e;
  line-height: 1.3;
  font-weight: 400;
}

.arrow::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-right: 1px solid #45474e;
  border-top: 1px solid #45474e;
  transform:  rotate(45deg);
  margin: 7px 5px 2px 5px;
}

.arrow {
  color: #d6ab6d;
}

.active {
  color: #45474e;
}

.arrow:last-child::after {
  display: none;
}

.bottom {
  background: #fff;
  padding: 0;
  margin: 0;
}

.container {
  padding: 30px 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: justify;
  vertical-align: baseline;
  display: block;
}

.copyright {
  background-color: #45474e;
  padding: 20px 0;
  text-align: center;
  color: #9296a3;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;  margin-top: 50px;
}

.check-label {
  display: block;
  margin-top: 5px;
  position: relative;
  left: 25px;
  font-weight: bold;
}

.fb-share {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  height: 20px;
  padding: 0px 0px 1px 2px;
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  font: 400 13.3333px Arial;
  text-align: left;
  vertical-align: middle;
  margin: 25px 0 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: auto;
  max-width: 412px;
}

.inputs {
  display: flex;
  flex-direction: column;
  input {
    display: block;
    width: 100% ;
    padding: 10px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #ccc;
    &::placeholder {
      color: #ccc;
    }
    &:focus {
      outline: none;
    }
  }
}

.checkboxes {
  p {
    text-align: center;
    font-weight: bold;
  }
  .block-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    label {
      margin-bottom: 2px;
    }
  }
}

.offer-btn {
  display: block;
  color: #fff;
  background-color: #d6ab6d;
  border-color: #d6ab6d;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05em;
  font-family: inherit;
  font-size: 100%;
  margin: 30px auto 0;
  width: 180px;
  padding: 10px;
  text-align: center;
}

.offer-btn:focus {
  outline: none;
  background-color: #4f5157;
  border-color: #4f5157;
}

.reposts-amount {
  display: inline-block;
  position: relative;
  bottom: 3px;
  font-weight: normal;
  padding-right: 4px;
  font-size: 11px;
}

.share-text {
  display: inline-block;
  margin: 0 4px 2px 4px;
  position: relative;
  bottom: 3px;
  font-weight: bold;
  font-size: 11px;
}

.svg-fb {
  display: inline-block;
  padding-top: 1px;
}

.title-block {
  display: block;
  background: #d6ab6d;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0;
}

.title-block h2 {
  font-size: 40px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif Caption', Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
  display: block;
  font-weight: 500;
  letter-spacing: 2px;
}

.title-block p {
  font-size: 22px;
  font-weight: 400;
  line-height: 21px;
  color: #FFF;
}

input[type="text"] {
  width: 350px;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  border: 1px solid rgba(0, 126, 170, 0.5);
  outline: none;
  box-shadow: 0 0 1px 1px rgba(0, 191, 255, 0.42);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="checkbox"]{
  margin-right: 7px;
}

//BURGER

.a {
  cursor: pointer;
  padding: 12px 0;

  span {
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    transition: all .2s ease-in-out;

    &:before, &:after {
      position: absolute;
      background: #fff;
      content: '';
      width: 20px;
      height: 4px;
      transition: all .2s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
}

.a.active {
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}