.btn-live-demo {
  z-index: 1;
  width: 100%;
  margin-right: 20px;
  color: $primary-white;
  background: transparent;
  border: 1px solid $dark-05;

  &:hover {
    border-color: $primary-white;
  }

  &:active {
    border-color: $dark-05;
  }
}

.btn-start {
  z-index: 1;
  color: $primary-white;
  background-color: $primary-accent;
  border: none;

  &:hover {
    color: $primary-accent;
    background-color: $primary-white;
  }

  &:active {
    color: $primary-white;
    background-color: $primary-accent;
  }
}

.main-buttons {
  display: flex;
  min-height: 52px;
  margin-bottom: 22px;
}

.main-text {
  z-index: 1;
  max-width: 540px;
  min-height: 68px;
  margin: 0 0 40px;
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.9px;
  text-align: center;
  text-indent: initial;
}

.manage-customers {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 730px;
    background: url("../assets/img/lines.svg") no-repeat 0 0;
    background-size: 100% 66%, 654px 740px;
    content: "";
    pointer-events: none;
  }

  &::after {
    @extend .manage-customers::before;

    top: 30%;
    transform: scaleX(-1);
  }
}

.verify-email-title {
  color: $white;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.9px;
  text-align: center;
  text-indent: initial;
}

.btn-verify-email {
  position: absolute;
  top: 8px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 36px;
  background-color: $light-accent-btn;
  border: none;
  border-radius: 5px;
  transition: 0.35s;

  img {
    width: auto;
  }

  &:hover {
    transform: translateX(3px);
  }
}

.email-block {
  position: relative;

  .progress-wrapper {
    position: absolute;
    top: 2px;
    right: 7px;
  }
}

.email-results {
  position: relative;
  display: none;
  padding: 18px 15px;
  color: $primary-white;
  background-color: $dark-02;
  border-radius: 4px;

  .form-preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $testimonials-dark-bg;
    opacity: 0.98;
    content: "";

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 100px;
      height: 100px;
      background-image: url("../assets/img/preloader-bars.svg");
      background-repeat: no-repeat;
      background-position: center center;
      transform: translate(-50%, -50%);
      content: "";
    }
  }

  .results-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 0;

    .social-link {
      width: 30px;
      height: 30px;
      margin: 5px;
      background: 50% no-repeat;
      background-size: contain;
      opacity: 0.2;
      filter: grayscale(1);
      pointer-events: none;

      &.gravatar {
        background-image: url("../assets/img/icons/gravatar.svg");
      }

      &.blogger {
        background-image: url("../assets/img/icons/blogger.svg");
      }

      &.facebook {
        background-image: url("../assets/img/icon-facebook.svg");
      }

      &.foursquare {
        background-image: url("../assets/img/icons/foursquare.svg");
      }

      &.google {
        background-image: url("../assets/img/icons/google.svg");
      }

      &.linkedin {
        background-image: url("../assets/img/icons/linkedin.svg");
      }

      &.tripit {
        background-image: url("../assets/img/icons/tripit.svg");
      }

      &.tumblr {
        background-image: url("../assets/img/icons/tumblr.svg");
      }

      &.twitter {
        background-image: url("../assets/img/icons/twitter.svg");
      }

      &.vimeo {
        background-image: url("../assets/img/icons/vimeo.svg");
      }

      &.wordpress {
        background-image: url("../assets/img/icons/wordpress.svg");
      }

      &.youtube {
        background-image: url("../assets/img/icons/youtube.svg");
      }

      &.github {
        background-image: url("../assets/img/icons/github.svg");
      }

      &.active {
        cursor: pointer;
        opacity: 1;
        filter: none;
        pointer-events: all;
      }
    }
  }
}

.results-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-indent: initial;

  span {
    &.error {
      color: $color-important;
    }

    &.warning {
      color: $color-warning;
    }

    &.success {
      color: $color-success;
    }
  }
}

.results-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  & > ul {
    margin: 0;
    padding: 0;
  }
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.list-item-title {
  min-width: 85px;
  margin-bottom: 0;
  padding-right: 10px;
  text-indent: initial;
}

.list-item-result {
  margin-bottom: 0;
  text-indent: initial;
}

.close-results {
  position: absolute;
  top: 27px;
  right: 15px;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $primary-white;
    transform: rotate(45deg);
    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $primary-white;
    transform: rotate(-45deg);
    content: "";
  }
}

@keyframes pulse-blue {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}

.wrapper-main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 70px 0 220px;

  .title {
    z-index: 1;
    max-width: 530px;

    &::before {
      position: absolute;
      top: 110px;
      right: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 1024px;
      height: 165px;
      margin: 0 auto;
      color: $section-titles-color;
      font-weight: 900;
      font-size: 150px;
      text-transform: uppercase;
      content: "mailcheck";
    }
  }
}

@media only screen and (min-width: 1920px) {
  .manage-customers::before {
    background-position: 0 35%, 1135px 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .manage-customers::before {
    background-position: 0 35%, 780px -20px;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title-lg {
    display: none;
  }

  .manage-customers::before {
    background-position: 0 35%, 715px -15px;
  }

  .wrapper-main .title::before {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .manage-customers::before {
    margin-top: -100px;
    padding-top: 100px;
    background-position: top 35% left 30%;
    background-size: auto;
  }

  .manage-customers::after {
    display: none;
  }

  .wrapper-main {
    padding-bottom: 50px;

    .title,
    .main-text {
      max-width: 380px;
    }

    .main-text {
      font-size: 14px;
      line-height: 22px;
      text-align: left;
    }
  }

  .emails-block {
    width: 100%;
    max-width: 380px;
  }
}

@media only screen and (max-width: 480px) {
  .manage-customers::before {
    background-position: center left 35%;
  }

  .main-buttons .btn {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .manage-customers::before {
    background-position: 100px -65px;
    background-size: 0, 654px 740px;
  }
}
