.btn-live-demo {
  border: 1px solid rgba(255, 255, 255, .5);
  background: transparent;

  margin-right: 20px;

  &:hover {
    border-color: #fff;
  }

  &:active {
    border-color: rgba(255, 255, 255, .5);
  }
}

.btn-start {
  border: none;
  background-color: #1bced4;

  &:hover {
    color: #1bced4;
    background-color: #fff;
  }

  &:active {
    color: #fff;
    background-color: #1bced4;
  }
}

.main-buttons {
  display: flex;

  min-height: 52px;

  margin-bottom: 80px;
}

.main-text {
  max-width: 540px;
  min-height: 68px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  /* Text style for "Take contr" */
  letter-spacing: 0.9px;

  text-align: center;
  margin: 0 0 40px;
}

.manage-customers {
  background: url("/img/lines.png") no-repeat 0 35%, url("/img/man.png") no-repeat 780px -20px;
  background-size:  100% 75%, 654px 740px;
}

.scroll-text {
  max-width: 140px;
  min-height: 14px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
}

.wrapper-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0 170px;
}

@media only screen and (max-width: 1024px) {
  .manage-customers {
    background-position: 0 35%, 715px -15px;
  }
}

@media only screen and (max-width: 768px) {
  .manage-customers {
    padding-top: 100px;
    margin-top: -100px;
    background-position: 0 35%, 500px 0;
    background-size: 0, 654px 740px;
    background-origin: padding-box;
  }

  .scroll {
    display: none;
  }

  .scroll-text {
    display: none;
  }

  .wrapper-main {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .manage-customers {
    background-position: 240px -30px;
    background-size: 0, 654px 740px;
  }
}


@media only screen and (max-width: 320px) {
  .manage-customers {
    background-position: 100px -65px;
    background-size: 0, 654px 740px;
  }
}


