.burger {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {

  .burger {
    position: absolute;
    top: 40px;
    right: 5px;
    display: block;
    width: 40px;
    height: 5px;
    background: #fff;
    margin-right: 30px;
    z-index: 200;
    transition: all .5s ease;

    &:before, &:after {
      position: absolute;
      content: '';
      background: #fff;
      width: 40px;
      height: 5px;
      transition: all .5s ease;
    }

    &:before {
      top: -9px;
    }

    &:after {
      top: 9px;
    }

    &.open {
      position: fixed;
      background: transparent;

      &:after {
        transform: rotate(-45deg);
        top: 0;
      }

      &:before {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }

  .mobile-menu {
    background-image: linear-gradient(to top, #1edfcf 0%, #55bbff 100%);
    transition: all 1s ease;
    z-index: 100;

    &.open {
      left: 0;
    }

    &-links {
      margin: 0 50px 35px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
      text-align: left;

      &:first-child {
        margin-top: 70px;
      }
    }
  }

  .mobile-btn {
    display: block;
    margin-left: 45px;
  }
}
