button.burger-wrapper {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

.burger {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .burger-wrapper {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 200;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 30px;

    &.open {
      position: fixed;
      background: transparent;

      .burger {
        background-color: transparent;

        &::after {
          top: 0;
          transform: rotate(-45deg);
        }

        &::before {
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background: $primary-white;
    cursor: pointer;
    transition: all 0.5s ease;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 30px;
      height: 4px;
      background: $primary-white;
      transition: all 0.5s ease;
      content: '';
    }

    &::before {
      top: -9px;
    }

    &::after {
      top: 9px;
    }
  }

  .mobile-menu {
    z-index: 100;
    background-image: $mob-menu-gradient;
    transition: all 1s ease;

    &.open {
      left: 0;
    }

    &-links {
      margin: 0 50px 35px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.8px;
      text-align: left;

      &:first-child {
        margin-top: 70px;
      }
    }
  }

  .mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 45px;
  }
}
