.popup {
  position: fixed;
  top: calc(50% - 158px);
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 640px;
  height: 316px;
  margin: 0 auto;
  color: $primary-white;
  background-image: $popup-bg-gradient;

  &.open {
    display: flex;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes fade-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popup-container {
  &.open {
    display: flex;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &.close {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  display: none;
  width: 100%;
  height: 100%;
  background: url("../assets/img/city.png") no-repeat center 50%;
  background-size: 150% 150%;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    filter: blur(20px);
    content: '';
  }
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &::before {
    position: relative;
    top: 10px;
    display: block;
    width: 25px;
    height: 3px;
    background: $primary-white;
    transform: rotate(-45deg);
    content: '';
  }

  &::after {
    position: relative;
    top: 7px;
    right: 0;
    display: block;
    width: 25px;
    height: 3px;
    background-color: $primary-white;
    transform: rotate(45deg);
    content: '';
  }
}

.popup-thanks {
  color: $primary-white;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
}

.popup-text {
  max-width: 520px;
  color: $primary-white;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .popup-thanks {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .popup {
    height: 100%;
    max-height: 260px;
    margin: 0 20px;
  }

  .popup-thanks {
    max-width: 95%;
    font-size: 24px;
    line-height: 28px;
  }

  .popup-text {
    max-width: 80%;
    font-size: 16px;
  }
}
