.reviews {
  @include intersection;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-item-logo {
  margin-bottom: 20px;
}

.reviews-item-rating {
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 100%;
    max-width: 25px;
    height: 25px;
  }
}

.reviews-item-rating,
.reviews-like-icon {
  max-height: 25px;
  margin-bottom: 40px;
}

.reviews-item-likes {
  display: flex;
  justify-content: center;
}

.rating-counter {
  margin-right: 5px;
  color: $primary-accent;
  font-weight: 900;
  font-size: 32px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.reviews-item-link {
  white-space: nowrap;
  border: 1px solid $primary-white;
}

@media only screen and (max-width: 768px) {
  .reviews-list {
    flex-direction: column;
    margin-bottom: 70px;
  }

  .reviews-item {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;
  }

  .reviews-item-logo {
    width: 25%;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .reviews-item-rating,
  .reviews-item-likes {
    margin-bottom: 0;
  }

  .reviews-item-rating {
    & > img {
      width: 13%;
    }
  }

  .reviews-like-icon {
    width: 13%;
    margin-bottom: 0;
  }

  .rating-counter {
    font-size: 14px;
  }

  .reviews-item-link {
    margin-left: auto;
    padding: 10px 25px;
  }
}
