.swiper-container {
  display: none;
  margin-bottom: 150px;
}

@media only screen and (max-width: 1024px){
  .swiper-container {
    display: block;
  }

  .swiper-wrapper {

  }

  .swiper-slide {

    display: flex;
    justify-content: center;
  }

 .cards {
    display: none;
  }
}