.swiper-container {
  display: none;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1024px){
  .swiper-container {
    display: block;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    width: 230px;
  }

 .cards {
    display: none;
  }
}