.team {
  @include intersection;
}

.team-members {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.team-member {
  display: flex;
  flex-basis: 33.33%;
  flex-direction: column;
  align-items: center;
}

.team-member-avatar {
  position: relative;
  width: 18vw;
  max-width: 200px;
  height: 18vw;
  max-height: 200px;
  overflow: hidden;
  background-color: $dark-02;
  border-radius: 10px;
  transform: rotate(45deg);

  &.cto::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../assets/img/team/konstantin-nosov.png) no-repeat center center;
    background-size: cover;
    transform: rotate(-45deg) scale(1.42);
    content: "";
  }

  &.csm::before {
    @extend .team-member-avatar.cto::before;

    background: url(../assets/img/team/serega-karetnik.png) no-repeat center center;
    background-size: cover;
  }

  &.own::before {
    @extend .team-member-avatar.cto::before;

    background: url(../assets/img/team/fara-muhammadiev.png) no-repeat center center;
    background-size: cover;
  }
}

.team-member-info {
  text-align: center;
}

.team-member-name {
  margin-bottom: 0;
  padding-top: 50px;
  color: $primary-white;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-indent: initial;
}

.team-member-description {
  margin-top: 10px;
  color: $primary-white;
  font-size: 16px;
  line-height: 1.5;
  text-indent: initial;
}

@media all and (max-width: 600px) {
  .team-members {
    flex-direction: column;
    align-items: start;
    padding-top: 15px;
  }

  .team-member {
    flex-direction: row;

    &.csm,
    &.own {
      padding-left: 10%;
    }

    &.csm {
      margin-bottom: 2.2rem;
    }
    &.own {
      margin-top: 2.2rem;
    }
  }

  .cto {
    &.team-member {
      padding-left: 3.5rem;
    }

    .team-member-info {
      margin-left: .5rem;
    }
  }

  .team-member-info {
    margin-left: 1rem;
    text-align: left;
  }

  .team-member-avatar {
    min-width: 110px;
    min-height: 110px;
    left: -2rem;
  }

  .team-member-name {
    padding-top: 0;
  }
}
