.section-wrapper {
  position: relative;
}

.testimonials {
  @include intersection;

  padding-top: 120px;
  color: $primary-white;
}

.testimonials-container {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.testimonials-wrapper {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 420px);
  height: 380px;
  margin-left: 10px;
  padding: 0;
  overflow-x: scroll;
  touch-action: manipulation;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;

  &.active {
    scroll-snap-type: unset;
    scroll-behavior: smooth;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .testimonial-slide {
    display: inline-block;
    width: 420px;
    height: 380px;
    font-size: 0;
    border-radius: 3px;
    scroll-snap-align: start;

    .slider-item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 320px;
      padding: 30px;
      background:
        url("/assets/img/testimonial-slides-img.png")
        $testimonials-dark-bg no-repeat top 10% right 10%;
      border-radius: 5px;
    }
  }
}

.slide-logo-wrapper {
  display: flex;
  align-items: center;
  height: 94px;
  overflow: hidden;
}

.slide-logo {
  max-width: 150px;
  max-height: 100%;
  padding: 5px;
  text-align: center;
}

.slide-text {
  max-height: 130px;
  margin-bottom: auto;
  padding-right: 15px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.3em;
  }

  &::-webkit-scrollbar-track {
    background-color: $section-titles-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-accent;
    border: 2px solid $primary-accent;
    border-radius: 5px;
  }
}

.slide-text,
.slide-name {
  color: $primary-white;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  text-indent: initial;
}

.slide-name {
  color: $primary-accent;
  font-style: italic;
}

.testimonials-button {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  cursor: pointer;

  &-prev {
    left: -5%;

    & > img {
      transform: rotate(-180deg);
    }
  }

  &-next {
    right: -5%;
  }
}

@media all and (max-width: 768px) {
  .testimonials {
    padding-top: 90px;
  }

  .testimonials-container {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 9;
      display: block;
      width: 20%;
      height: 100%;
      content: "";
      pointer-events: none;
    }

    &::before {
      left: 0;
      background-image: $slider-overlay-gradient-left;
    }

    &::after {
      right: 0;
      background-image: $slider-overlay-gradient-right;
    }

    .testimonials-wrapper {
      padding: 0;

      .testimonial-slide {
        .slider-item {
          padding: 30px 100px;
        }
      }
    }
  }
}
