<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>
<html class="no-js gt-ie9 ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js gt-ie9"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Mailcheck | Verify your real customers in one way</title>
    <meta name="description" content="An application to clean your subscription list from bounces, and enrich data about customers">
    <meta name="robots" content="all">

    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="canonical" href="https://www.mailcheck.co/">

    <!-- CSS, you gotta have style -->

    <!--Fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
          media="all" onload="if(media!='all')media='all'">
    <link href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.min.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KXLTC2Z');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{>partials/header}}
<!--Manage customers...-->
<main class="manage-customers" role="main" id="main">
    <div class="container">
        <div class="wrapper-main sm-left">
            <h1 class="title">Validate your mailing list in one click</h1>
            <p class="main-text">Get assured your mailing list contains only real emails
                addresses, get rid of bots and inactive users</p>
            <div class="emails-block">
                <div class="main-buttons">
                    <a href="//app.mailcheck.co/" class="btn btn-live-demo">GET FREE EMAILS NOW</a>
                    <a href="//app.mailcheck.co/" class="btn btn-start">Start</a>
                </div>
                <div class="verify-email">
                    <p class="verify-email-title">Verify email address in real-time!</p>
                    <form action="#" class="verify-email-form">
                        <div class="email-block">
                            <input class="input input-verify" type="email" name="email" id="email" placeholder="Email to verify">
                            <button type="submit" class="btn-verify-email">
                                <img src="../assets/img/icon-arrow-right.svg" alt="Verify email">
                            </button>
                        </div>
                        <div class="email-results">
                            <p class="results-title">Validation RESULTS</p>
                            <ul class="results-list">
                                <ul class="list-left">
                                    <li class="list-item email">
                                        <p class="list-item-title">Checked email:</p>
                                        <p class="list-item-result">example@gmail.com</p>
                                    </li>
                                    <li class="list-item exists">
                                        <p class="list-item-title">Exists:</p>
                                        <p class="list-item-result">+</p>
                                    </li>
                                    <li class="list-item smtp">
                                        <p class="list-item-title">SMTP:</p>
                                        <p class="list-item-result">+</p>
                                    </li>
                                </ul>
                                <ul class="list-right">
                                    <li class="list-item rate">
                                        <p class="list-item-title">Trusted rate:</p>
                                        <p class="list-item-result">100%</p>
                                    </li>
                                    <li class="list-item disposable">
                                        <p class="list-item-title">Disposable:</p>
                                        <p class="list-item-result">-</p>
                                    </li>
                                    <li class="list-item smpt-ca">
                                        <p class="list-item-title">SMTP catch-all:</p>
                                        <p class="list-item-result">+</p>
                                    </li>
                                </ul>
                            </ul>
                            <button type="button" class="close-results"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- PARTNERS SECTION -->
    <section class="partners" id="partners">
        <div class="section-heading sm-left">
            <h2 class="title">YOU’RE IN GOOD COMPANY</h2>
            <p class="section-title-lg">PARTNERS</p>
        </div>
        <div class="partners-list">
            <div class="partners-list-item">
                <img src="../assets/img/testimonials/5k-logo.svg" alt="5000 miles" class="partners-logo">
            </div>
            <div class="partners-list-item">
                <img src="../assets/img/testimonials/bagllet.svg" alt="Bagllet" class="partners-logo">
            </div>
            <div class="partners-list-item">
                <img src="../assets/img/testimonials/sammy-logo.svg" alt="Sammy-logo" class="partners-logo">
            </div>
            <div class="partners-list-item">
                <img src="../assets/img/testimonials/zitkani.svg" alt="Zitkani" class="partners-logo">
            </div>
        </div>
    </section>

    <!--Welcome to the featuress-->
    <section class="welcome" id="features">
        <div class="section-heading sm-left">
            <h2 class="title">THE FEATURES</h2>
            <p class="section-title-lg">FEATURES</p>
            <p class="section-subtitle">We improve our service everyday</p>
        </div>
        <div class="welcome-flex">
            <img class="mail" src="../assets/img/mail-float.png" alt="mail">
            <ul class="welcome-items">
                <li>
                    <span class="digits">01</span>
                    <p class="text-thin item">Turn your cold emails into a hot leads</p>
                </li>
                <li>
                    <span class="digits">02</span>
                    <p class="text-thin item">Validate emails through social networks</p>
                </li>
                <li>
                    <span class="digits">03</span>
                    <p class="text-thin item">Increase your delivery rate up to 5 times
                        with our validation algorithm</p>
                </li>
                <li>
                    <span class="digits">04</span>
                    <p class="text-thin item">Spend less on outbound marketing</p>
                </li>
                <li>
                    <span class="digits">05</span>
                    <p class="text-thin item">Risk-free 40 days money-back guarantee</p>
                </li>
            </ul>
        </div>
    </section>


    <!--Choose your audience-->
    <section class="choose-your" id="choose-your">
        <div class="container">
            <div class="section-heading sm-left">
                <h2 class="title">WHY DO YOU CHOOSE MAILCHECK?</h2>
                <p class="section-title-lg">YOU CAN</p>
            </div>
            <div class="wrapper-choose">
                <p class="text-thin art">We are a team that validates emails and phones using social networks for the past 3 years. Previously, we did it manually and it took from 3 weeks to a year, but at the moment it takes from us only 15 minutes to check 1 000 000 email addresses.</p>
                <p class="text-thin art">Our service will be useful to those who are working every day to increase conversion in email mailings and want to decrease bounce rate. We will also be useful to those who want to know who is behind that email or phone in order to save their time and money.</p>
            </div>
        </div>
    </section>


    <!--Pricing plans-->
    <section id="pricing" class="cost-effective">
        <div class="section-heading sm-left">
            <h2 class="title">Cost-effective pricing plans</h2>
            <p class="section-title-lg">PRICING</p>
            <p class="section-subtitle">Choose wisely.</p>
        </div>
        <div class="wrapper-cost">
            <div class="container cards">
                <div class="card" id="pro">
                    <h3 class="title-colored">pro</h3>
                    <span class="title lowercase">$10/mo</span>
                    <span class="card-features-text"> 1,000
                          emails to validate included</span>
                    <span class="card-features-text"> $0.005/1 mail
                          overage charge</span>
                    <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose">choose</a>
                </div>
                <div class="card" id="agency">
                    <h3 class="title-colored cyan">agency</h3>
                    <span class="title lowercase">$30/mo</span>
                    <span class="card-features-text"> 5,000
                          emails to validate included</span>
                    <span class="card-features-text"> $0.004/1 mail
                          overage charge</span>
                    <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose btn-cyan">choose</a>
                </div>
                <div class="card" id="enterprise">
                    <h3 class="title-colored grey">enterprise</h3>
                    <span class="title lowercase">$90/mo</span>
                    <span class="card-features-text"> 20,000
                          emails to validate included</span>
                    <span class="card-features-text"> $0.003/1 mail
                          overage charge</span>
                    <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose btn-grey">choose</a>
                </div>
                <div class="card" id="custom">
                    <h3 class="title-colored red">custom</h3>
                    <span class="card-features-text">  <span class="bold">EPIC</span>
                          100,000+
                          emails to validate included</span>
                    <span class="card-features-text">  <span class="bold">LEGENDARY</span>
                          1,000,000,000+ emails to
                          validate included</span>
                    <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose btn-red">choose</a>
                </div>
            </div>
        </div>

        <!-- Slider main container -->
        <div class="swiper-container" id="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <h3 class="title-colored">pro</h3>
                        <span class="title lowercase">$10/mo</span>
                        <span class="card-features-text">  1,000
                            emails to validate included</span>
                        <span class="card-features-text"> $0.005/1 mail
                            overage charge</span>
                        <a href="//app.mailcheck.co/dashboard/payment_plans">
                            <button class="btn btn-choose">choose</button>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3 class="title-colored cyan">agency</h3>
                        <span class="title lowercase">$30/mo</span>
                        <span class="card-features-text"> 5,000
                            emails to validate included</span>
                        <span class="card-features-text"> $0.004/1 mail
                            overage charge</span>
                        <a href="//app.mailcheck.co/dashboard/payment_plans">
                            <button class="btn btn-choose btn-cyan">choose</button>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3 class="title-colored grey">enterprise</h3>
                        <span class="title lowercase">$90/mo</span>
                        <span class="card-features-text"> 20,000
                            emails to validate included</span>
                        <span class="card-features-text"> $0.003/1 mail
                            overage charge</span>
                        <a href="//app.mailcheck.co/dashboard/payment_plans">
                            <button class="btn btn-choose btn-grey">choose</button>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3 class="title-colored red">custom</h3>
                        <span class="card-features-text">  <span class="bold">EPIC</span>
                            100,000+
                            emails to validate included</span>
                        <span class="card-features-text">  <span class="bold">LEGENDARY</span>
                            1,000,000,000+
                            emails to validate included + telephones</span>
                        <a href="//app.mailcheck.co/dashboard/payment_plans">
                            <button class="btn btn-choose btn-red">choose</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION REVIEWS -->
    <section class="reviews" id="reviews">
        <div class="section-heading">
            <h2 class="title">Our customer's reviews</h2>
            <p class="section-title-lg">REVIEWS</p>
        </div>
        <div class="container">
            <div class="section-wrapper sm-left">
                <div class="reviews-list">
                    <div class="reviews-item">
                        <img src="../assets/img/logo-product-hunt.png" alt="" class="reviews-item-logo">
                        <div class="reviews-item-rating">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                        </div>
                        <a href="https://www.producthunt.com/posts/mailcheck" target="_blank" rel="noopener"class="reviews-item-link btn">READ REVIEWS</a>
                    </div>
                    <div class="reviews-item">
                        <img src="../assets/img/logo-beta-list.png" alt="" class="reviews-item-logo">
                        <div class="reviews-item-likes">
                            <span class="rating-counter">11</span>
                            <img src="../assets/img/icon-like-heart.svg" alt="" class="reviews-like-icon">
                        </div>
                        <a href="https://betalist.com/startups/mailcheck" target="_blank" rel="noopener"class="reviews-item-link btn">READ REVIEWS</a>
                    </div>
                    <div class="reviews-item">
                        <img src="../assets/img/logo-capterra.png" alt="" class="reviews-item-logo">
                        <div class="reviews-item-rating">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                            <img src="../assets/img/icon-star-rating.svg">
                        </div>
                        <a href="https://www.capterra.com/p/195397/Mailcheck/" target="_blank" rel="noopener"class="reviews-item-link btn">READ REVIEWS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION TEAM -->
    <section class="team" id="team">
        <div class="container">
            <div class="section-wrapper">
                <div class="section-heading sm-left">
                    <h2 class="title">MAILCHECK TEAM</h2>
                    <p class="section-title-lg">TEAM</p>
                </div>
                <div class="team-members">
                    <div class="team-member csm">
                        <div class="team-member-avatar csm">
                        </div>
                        <div class="team-member-info">
                            <p class="team-member-name">Serhii Karetnyk</p>
                            <p class="team-member-description">CSM</p>
                        </div>
                    </div>
                    <div class="team-member cto">
                        <div class="team-member-avatar cto">
                        </div>
                        <div class="team-member-info">
                            <p class="team-member-name">Constantin Nosov</p>
                            <p class="team-member-description">CTO / Founder</p>
                        </div>
                    </div>
                    <div class="team-member own">
                        <div class="team-member-avatar own">
                        </div>
                        <div class="team-member-info">
                            <p class="team-member-name">Fara Muhammadiev</p>
                            <p class="team-member-description">Product Owner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION TESTIMONIALS -->
    <section class="testimonials" id="testimonials">
        <div class="section-heading sm-left">
            <h2 class="title">TESTIMONIALS</h2>
            <p class="section-title-lg">TESTIMONIALS</p>
        </div>
        <div class="section-wrapper">
            <!-- TESTIMONIALS -->
            <div class="testimonials-container">
                <div class="testimonials-wrapper">
                    <div class="testimonial-slide">
                        <div class="slider-item">
                            <div class="slide-logo-wrapper">
                                <img class="slide-logo" src="../assets/img/testimonials/bagllet.svg" alt="Bagllet">
                            </div>
                            <p class="slide-text">Been using Mailcheck for about 6 months now. Tried other services before but decided to stay with Mailcheck as these guys are truly doing what they offer. I had a years old email list but after running it through a verification never thought that 20% of it would come back as invalid! No wonder why my sender score was so bad! Also, as an online-store owner, I really enjoyed the benefits of their API feature. And the cost..Absolutely worth it! </p>
                            <p class="slide-name">Timofei G.</p>
                        </div>
                    </div>
                    <div class="testimonial-slide">
                        <div class="slider-item">
                            <div class="slide-logo-wrapper">
                                <img class="slide-logo" src="../assets/img/testimonials/sammy-logo.svg" alt="Sammy Icon">
                            </div>
                            <p class="slide-text">"Probably one of the most comfortable validation services, simple in use. </p>
                            <p class="slide-name">Nick A.</p>
                        </div>
                    </div>
                    <div class="testimonial-slide">
                        <div class="slider-item">
                            <div class="slide-logo-wrapper">
                                <img class="slide-logo" src="../assets/img/testimonials/5k-logo.svg" alt="5000 miles">
                            </div>
                            <p class="slide-text">Name of the brand popped my attention, I decided to try because was planning to launch my marketing campaign, some leads were outdated, didn't want to blacklist my email account status and my domain, so went to Mailcheck. I can say honestly these guys kicking their A***s off to make sure their users receive what they paid for. Highly recommend!!! </p>
                            <p class="slide-name">Vadim С.</p>
                        </div>
                    </div>
                    <div class="testimonial-slide">
                        <div class="slider-item">
                            <div class="slide-logo-wrapper">
                                <img class="slide-logo" src="../assets/img/testimonials/zitkani.svg" alt="Zitkani">
                            </div>
                            <p class="slide-text">The file I have checked have been accepted by MailerLite, thank you! Your service did it better than 2 others I have tried before. </p>
                            <p class="slide-name">Claude I.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="testimonials-button testimonials-button-next">
                <img src="../assets/img/arrow-slide-nav.svg" alt="left">
            </div>
            <div class="testimonials-button testimonials-button-prev">
                <img src="../assets/img/arrow-slide-nav.svg" alt="right">
            </div>
        </div>
    </section>

    <!--Questions-->
    <section id="faq" class="frequent-questions">

        <div class="wrapper-questions">
            <h3 class="title-small">FAQ</h3>

            <div class="accordion">
                <div class="accordion-column">
                    <div class="tab">
                        <input class="input-radio" type="checkbox" id="radio1" name="acc-tabs">
                        <label class="tab-label" for="radio1">Where do you get the data for verification?</label>
                        <div class="tab-content">
                            <p class="tab-text">We take the data from public sources, system search, social networks,
                                and open databases available online.</p>
                        </div>
                    </div>

                    <div class="tab">
                        <input class="input-radio" type="checkbox" id="radio8" name="acc-tabs">
                        <label class="tab-label" for="radio8">How to interpret a trust rate?</label>
                        <div class="tab-content">
                            <p class="tab-text">
                                * Emails with a trust rate of 0-49% are Risky and most likely INVALID, we don't
                                recommend using them<br>
                                * Emails with a trust rate of 50-100% are VALID, feel free to use them<br>
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input class="input-radio" type="checkbox" id="radio12" name="acc-tabs">
                        <label class="tab-label" for="radio12">What is the delimiter and how to use it?</label>
                        <div class="tab-content">
                            <p class="tab-text">A delimiter is the comma character, which acts as a field delimiter, we
                                ask to set it in order to validate the chosen column, NOTE it only has to be an email
                                column
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-column">
                    <div class="tab">
                        <input class="input-radio" type="checkbox" id="radio14" name="acc-tabs">
                        <label class="tab-label" for="radio14">Is my data protected?</label>
                        <div class="tab-content">
                            <p class="tab-text">All information about our users is protected by Google systems, we do
                                really care about privacy and that's why never share any data due to the GDPR
                                compliance.
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input class="input-radio" type="checkbox" id="radio15" name="acc-tabs">
                        <label class="tab-label" for="radio15">How many free email verifications do you offer?</label>
                        <div class="tab-content">
                            <p class="tab-text">
                                We allow 100 free email validations if the billing information was verified, and 10 free
                                email validations if the payment details weren't provided<br>
                                - with card 100 emails<br>
                                - without card 10 emails<br>
                            </p>
                        </div>
                    </div>

                    <div class="tab">
                        <input class="input-radio" type="checkbox" id="radio23" name="acc-tabs">
                        <label class="tab-label" for="radio23">I was charged more than my plan costs</label>
                        <div class="tab-content">
                            <p class="tab-text">
                                Mailcheck works on a subscription basis and if you have any of the paid plans (PRO,
                                AGENCY, ENTERPRISE, LEGENDARY) so you are able to verify more emails than you have
                                according to your plan, to receive more detailed information, please contact our support
                                team
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/faq" class="btn btn-start">LEARN MORE</a>

            <img class="filter-img" src="../assets/img/filter.png" width="444" height="568" alt="filter">
        </div>

    </section>

    {{>partials/contactus}}

    <!-- SECTION CTA -->
    <section class="cta">
        <div class="container">
            <div class="cta-info">
                <h2 class="cta-text">Verify 10-100 emails for free!</h2>
                <a href="app.mailcheck.co" class="btn btn-start">GET STARTED</a>
            </div>
        </div>
    </section>

</main>
{{>partials/footer}}
{{>partials/TAWK.to-script}}

<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.5/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>

</body>
</html>
