<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>
<html class="no-js gt-ie9 ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js gt-ie9"> <!--<![endif]-->
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Mailcheck | Verify your real customers in one way</title>
  <meta name="description" content="An application to clean your subscription list from bounces, and enrich data about customers">
  <meta name="robots" content="all">

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon.png">

  <!-- CSS, you gotta have style -->

  <!--Fonts-->
  <link href="//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
        media="all" onload="if(media!='all')media='all'">
  <link href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.min.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KXLTC2Z');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{>partials/header}}
<!--Manage customers...-->
<main class="manage-customers" role="main">
  <div class="container">
    <div class="wrapper-main">
      <h1 class="title">Validate your mailing list<br>
        in one click</h1>
      <p class="main-text">Get assured your mailing list contains only real emails addresses, get rid of bots and
        inactive users</p>
      <div class="main-buttons">
        <a href="//app.mailcheck.co/" class="btn btn-live-demo">Trial</a>
        <a href="//app.mailcheck.co/" class="btn btn-start">start</a>
      </div>
      <p class="scroll-text">scroll to see more</p>
      <div class="point"></div>
    </div>
  </div>
</main>


<!--Welcome to the featuress-->
<section class="welcome" id="features">

  <div class="wrapper-welcome">
    <h2 class="title title-welcome">the features</h2>
    <p class="text-thin text-welcome">We improve our service everyday</p>
    <div class="welcome-flex">
      <img class="mail" src="../assets/img/mail-float.png" width="742" height="575" alt="mail">
      <ul class="welcome-items">
        <li>
          <span class="digits">01</span>
          <p class="text-thin item">Mailcheck - Turns your cold mails - to hot leads.</p>
        </li>
        <li>
          <span class="digits">02</span>
          <p class="text-thin item">Mailcheck - Validate emails through social networks. </p>
        </li>
        <li>
          <span class="digits">03</span>
          <p class="text-thin item">Mailcheck - 2.47% - This is the percentage of bounce sent cold-based email addresses
            after our validation.</p>
        </li>
      </ul>
    </div>
  </div>

</section>


<!--Choose your audience-->
<section class="choose-your" id="choose-your">
  <div class="container">
    <div class="wrapper-choose">
      <h2 class="title">Why do you choose mailcheck?</h2>
      <input class="read-more-checkbox" type="checkbox" id="read-more">
      <p class="text-thin art">We are a team that validates emails and phones using social
        networks for the past 3 years. Previously, we did it manually and it took from 3 weeks to a year, but at the
        moment it takes from us only 15 minutes to check 1 000 000 email addresses.</p>
      <p class="text-thin art">Our service will be useful to those who are working every day
        to increase conversion in email mailings and want to decrease bounce rate. We will also be useful to those who
        want to know who is behind that email or phone in order to save their time and money.</p>
      <label class="read-more-label" for="read-more"></label>
    </div>
  </div>
</section>


<!--Pricing plans-->
<section id="pricing" class="cost-effective">

  <div class="wrapper-cost">
    <h2 class="title title-cost">Cost-effective pricing plans</h2>
    <p class="text-thin margin">Choose wisely.</p>
    <div class="container cards">
      <div class="card" id="pro">
        <h3 class="title-colored">pro</h3>
        <span class="title lowercase">$ 10/mo</span>
        <span class="card-features-text">  1,000
                        emails to validate included</span>
        <span class="card-features-text">  $0.005/1 mail
                        overage charge</span>
        <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose">choose</a>
      </div>
      <div class="card" id="agency">
        <h3 class="title-colored cyan">agency</h3>
        <span class="title lowercase">$ 30/mo</span>
        <span class="card-features-text">  5,000
                         emails to validate included</span>
        <span class="card-features-text">  $0.004/1 mail
                        overage charge</span>
        <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose btn-cyan">choose</a>
      </div>
      <div class="card" id="enterprise">
        <h3 class="title-colored grey">enterprise</h3>
        <span class="title lowercase">$ 100/mo</span>
        <span class="card-features-text">  20,000
                        emails to validate included</span>
        <span class="card-features-text">  $0.003/1 mail
                        overage charge</span>
        <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose btn-grey">choose</a>
      </div>
      <div class="card" id="custom">
        <h3 class="title-colored red">custom</h3>
        <span class="card-features-text">  <span class="bold">EPIC</span>
                        100,000+
                        emails to validate included</span>
        <span class="card-features-text">  <span class="bold">LEGENDARY</span>
                        1,000,000,000+
                        emails to validate included + telephones</span>
        <a href="//app.mailcheck.co/dashboard/payment_plans" class="btn btn-choose btn-red">choose</a>
      </div>
    </div>
  </div>

  <ul class="pagination" id="pagination">
    <li><a class="pag-item pag-item1 active" id="pag-item1" href="#pro">pro</a></li>
    <li><a class="pag-item pag-item2" id="pag-item2" href="#agency">agency</a></li>
    <li><a class="pag-item pag-item3" id="pag-item3" href="#enterprise">enterprise</a></li>
    <li><a class="pag-item pag-item4" id="pag-item4" href="#custom">custom</a></li>
  </ul>

  <!-- Slider main container -->
  <div class="swiper-container" id="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" id="slide1">
        <div class="card">
          <h3 class="title-colored">pro</h3>
          <span class="title lowercase">$ 10/mo</span>
          <span class="card-features-text">   1,000
                        emails to validate included</span>
          <span class="card-features-text">  $0.005/1 mail
                        overage charge</span>
          <a href="//app.mailcheck.co/dashboard/payment_plans">
            <button class="btn btn-choose">choose</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide" id="slide2">
        <div class="card">
          <h3 class="title-colored cyan">agency</h3>
          <span class="title lowercase">$ 30/mo</span>
          <span class="card-features-text">  5,000
                         emails to validate included</span>
          <span class="card-features-text">  $0.004/1 mail
                        overage charge</span>
          <a href="//app.mailcheck.co/dashboard/payment_plans">
            <button class="btn btn-choose btn-cyan">choose</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide" id="slide3">
        <div class="card">
          <h3 class="title-colored grey">enterprise</h3>
          <span class="title lowercase">$ 100/mo</span>
          <span class="card-features-text">  20,000
                        emails to validate included</span>
          <span class="card-features-text">  $0.003/1 mail
                        overage charge</span>
          <a href="//app.mailcheck.co/dashboard/payment_plans">
            <button class="btn btn-choose btn-grey">choose</button>
          </a>
        </div>
      </div>
      <div class="swiper-slide" id="slide4">
        <div class="card">
          <h3 class="title-colored red">custom</h3>
          <span class="card-features-text">  <span class="bold">EPIC</span>
                        100,000+
                        emails to validate included</span>
          <span class="card-features-text">  <span class="bold">LEGENDARY</span>
                        1,000,000,000+
                        emails to validate included + telephones</span>
          <a href="//app.mailcheck.co/dashboard/payment_plans">
            <button class="btn btn-choose btn-red">choose</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Questions-->
<section id="faq" class="frequent-questions">

  <div class="wrapper-questions">
    <h3 class="title-small">most frequent questions</h3>

    <div class="accordion">
      <div class="tab">
        <input class="input-radio" type="radio" id="radio1" name="acc-tabs">
        <label class="tab-label" for="radio1">Where do you get the data for verification?</label>
        <div class="tab-content">
          <p class="tab-text">We take the data from public sources, system search, social networks,
            and open databases available online.</p>
        </div>
      </div>

      <div class="tab">
        <input class="input-radio" type="radio" id="radio2" name="acc-tabs">
        <label class="tab-label" for="radio2">What social networks do you use for validation?</label>
        <div class="tab-content">
          <p class="tab-text">We use - Google, Gravatar, Linkedin...</p>
        </div>
      </div>

      <div class="tab">
        <input class="input-radio" type="radio" id="radio3" name="acc-tabs">
        <label class="tab-label" for="radio3">What is your difference from the competitors?</label>
        <div class="tab-content">
          <p class="tab-text">Our main difference from our competitors is that we do not use only the
            automatic search and validation. We also provide manual moderation.
            So we use all the power of social networks and search engines, for more in-depth validation.</p>
        </div>
      </div>

      <div class="tab">
        <input class="input-radio" type="radio" id="radio4" name="acc-tabs">
        <label class="tab-label" for="radio4">What is your trial?</label>
        <div class="tab-content">
          <p class="tab-text">Without binding the card 10 checks,
            if you bind a card - 100 checks.</p>
        </div>
      </div>

      <div class="tab">
        <input class="input-radio" type="radio" id="radio5" name="acc-tabs">
        <label class="tab-label" for="radio5">Do you check phone numbers?</label>
        <div class="tab-content">
          <p class="tab-text">Yes, we are currently testing a beta version
            of our phones base validation. But it is available in manual mode.
            In order to check the phone base contact support.

          </p>
        </div>
      </div>
    </div>
    <img class="filter-img" src="../assets/img/filter.png" width="444" height="568" alt="filter">
  </div>

</section>


{{>partials/contactus}}
{{>partials/footer}}
{{>partials/TAWK.to-script}}

<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>

</body>
</html>
