<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Mailcheck | Terms and Conditions</title>
  <meta name="description" content="We care about your privacy and do not share any data">
  <meta name="robots" content="all">

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="canonical" href="https://www.mailcheck.co/terms">

  <!-- CSS, you gotta have style -->

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
        media="all" onload="if(media!='all')media='all'">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-KXLTC2Z');</script>
  <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{>partials/header}}


<!--Terms and Conditions-->
<main class="terms" id="terms">
  <div class="container">
    <div class="content-block">
      <h2 class="title">Terms of Service</h2>
      <p class="text-thin terms-text">Please read these Terms of Service (“Terms”) carefully. The provision of
        information and
        services on Mailcheck.co (the “Site”) operated by NodeArt (“us”, “we”, or “our”), is conditioned upon your
        acceptance of and compliance with these Terms. These Terms constitute an agreement between Mailcheck.co and you
        governing your use of the Site (including both mobile and online versions), as well as the email validation
        services that we make available through the Site and all associated features, applications, and Content (as
        defined below) (collectively, the “Services”).</p>
      <h3 class="text-thin subtitle">Services</h3>
      <p class="text-thin terms-text">By using the Services you agree to be bound by these Terms. If you disagree with
        any part
        of the Terms, do not use the Services.</p>
      <p class="text-thin terms-text">
        You must be at least 18 years of age to use this website. By using this website and by agreeing to these terms
        and conditions you warrant and represent that you are at least 18 years of age.</p>
      <p class="text-thin terms-text">We do not sell or share personal data that is uploaded by users of our Services
        (“Users”) in the course of their
        use of the Services. Users maintain ownership of the data they upload for email verification purposes (“Uploaded
        Data”). Mailcheck.co may access or use Uploaded Data for customer support or troubleshooting purposes, to gather
        statistics, to improve accuracy, or for increasing our product viability. Customers may delete their Uploaded
        Data from the Mailcheck.co system at any time.</p>
      <h3 class="text-thin subtitle">Communications</h3>
      <p class="text-thin terms-text">By creating an Account on our Site, you are opting in to receive newsletters,
        marketing
        or promotional materials, and other information we may send to you via email from time to time. However, you may
        opt out of receiving promotional communications from us by following the unsubscribe link or instructions
        provided in any email we send.</p>
      <h3 class="text-thin subtitle">Acceptable use</h3>
      <ul class="text-thin terms-text">
        <li>You must not use this website in any way that causes, or may cause, damage to the
        website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal,
        fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or
        activity.</li>
        <li>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material
          which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit
          or other malicious computer software.</li>
        <li>You must not use this website to transmit or send unsolicited commercial communications.</li>
        <li>You must not use this website in any ways other than the ways have advised you to do so.</li>
        <li>You must not offer incentives for people to sign up as an affiliate in anyway.</li>
        <li>You must not use Mailcheck.co services for data mining or email harvesting, your lists and account will be
          terminated, without refund if you are found mining or harvesting emails.</li>
      </ul>
      <h3 class="text-thin subtitle">Payment information</h3>
      <p class="text-thin terms-text">We may use third-party services to process payments made through the Site. By
        submitting
        your payment information, you grant us the right to provide such information (including, without limitation,
        your credit card number, the expiration date of your credit card, your billing address, and CVV number) to these
        third parties, subject to our Privacy Policy. You also represent and warrant that: (i) you have the legal
        authority to use the payment card information you are submitting through the Site; and (ii) the information you
        supply to us is true, correct and complete.</p>
      <p class="text-thin terms-text">
        We reserve the right to refuse or cancel any order at any time for reasons including, but not limited to:
        product or service availability, errors in the description or price of the product or service, error in your
        order, suspected fraud or unauthorized or illegal transaction.</p>
      <p class="text-thin terms-text">
        Mailcheck.co services are not free to use, therefore, you hereby agree to pay the prices for our services as
        mentioned in <a class="text-thin text-thin-link" href="https://www.mailcheck.co/#pricing">pricing</a>
      </p>
      <h3 class="text-thin subtitle">Intellectual Property</h3>
      <p class="text-thin terms-text">The Services and all original content (excluding Content provided by users),
        features and
        functionality are and will remain the exclusive property of Mailcheck.co and its licensors. The Services are
        protected by copyright, trademark, and other laws of both Ukraine and foreign countries. Our trademarks and
        trade dress may not be used in connection with any product or service without the prior written consent of
        Mailcheck.co.</p>
      <h3 class="text-thin subtitle">Links To Other Websites</h3>
      <p class="text-thin terms-text">The Site may contain links to third-party websites or services that are not owned
        or
        controlled by Mailcheck.co.</p>
      <p class="text-thin terms-text">
        Mailcheck.co has no control over, and assumes no responsibility for the content, privacy policies, or practices
        of any third-party websites or services and cannot guarantee that such third-party content will be free of
        material you may find objectionable or otherwise inappropriate or of malware or other contaminants that may harm
        your computer, mobile device, or any files therein.</p>
      <p class="text-thin terms-text">
        You acknowledge and agree that Mailcheck.co shall not be responsible or liable, directly or indirectly, for any
        damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content,
        goods or services available on or through any such third-party websites or services.</p>
      <p class="text-thin terms-text">
        We strongly advise you to read the terms and conditions and privacy policies of any third-party websites or
        services that you visit.</p>
      <h3 class="text-thin subtitle">Termination</h3>
      <p class="text-thin terms-text">We may terminate or suspend your account and bar access to the Services
        immediately,
        without prior notice or liability, in our sole discretion, for any reason whatsoever and without limitation,
        including but not limited to a breach of these Terms.</p>
      <p class="text-thin terms-text">
        All provisions of the Terms which by their nature should survive termination shall survive termination,
        including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
        liability.</p>
      <h3 class="text-thin subtitle">Limitation of Liability</h3>
      <p class="text-thin terms-text">In no event shall Mailcheck.co, nor its directors, employees, partners, agents,
        suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages,
        including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from
        (i) your access to or use of or inability to access or use the Services; (ii) any conduct or content of any
        third party on the Services; (iii) any content obtained from the Services; and (iv) unauthorized access, use or
        alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or
        any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a
        remedy set forth herein is found to have failed of its essential purpose.</p>
      <h3 class="text-thin subtitle">Disclaimer</h3>
      <p class="text-thin terms-text">Your use of the Services is at your sole risk. The Services are provided on an “AS
        IS”
        and “AS AVAILABLE” basis. The Services are provided without warranties of any kind, whether express or implied,
        including, but not limited to, implied warranties of merchantability, fitness for a particular purpose,
        non-infringement or course of performance.</p>
      <p class="text-thin terms-text">
        Mailcheck.co its subsidiaries, affiliates, and its licensors do not warrant that (i) the Services will function
        uninterrupted, secure or available at any particular time or location; (ii) any errors or defects will be
        corrected; (iii) the Services are free of viruses or other harmful components; or (iv) the results of using the
        Services will meet your requirements.</p>
      <h3 class="text-thin subtitle">Changes</h3>
      <p class="text-thin terms-text">We reserve the right, at our sole discretion, to modify or replace these Terms at
        any
        time. Changes to these Terms will be effective immediately upon posting on this page with an updated effective
        date.</p>
      <p class="text-thin terms-text">
        By continuing to access or use our Services after any revisions become effective, you agree to be bound by the
        revised terms including potential usage of your logo in our marketing materials. If you do not agree to the new
        terms, you are no longer authorized to use the Services.</p>
    </div>
  </div>
</main>

{{>partials/contactus}}
{{>partials/footer}}
{{>partials/TAWK.to-script}}

</body>
</html>
