// ==========================================================================
// $Print
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================

@media print {
  * {
    --color: #000;
    &::before,
    &::after {
      color: var(--color) !important; // Black prints faster: http://www.sanbeiji.com/archives/953
      text-shadow: none !important;
      background: transparent !important;
      box-shadow: none !important;
    }
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol

  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre,
  blockquote {
    page-break-inside: avoid;
    border: 1px solid #999;
  }

  // Printing Tables:
  // http://css-discuss.incutio.com/wiki/Printing_Tables

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
