.digits {
  color: $primary-accent;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.9px;
  opacity: 0.91;
}

.mail {
  min-width: 10%;
  margin: 20px 0;
}

.item {
  max-width: 345px;
  margin: 6px 0 0 0;
  text-align: left;
}

.welcome-items {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-width: 400px;
  list-style: none;

  li {
    width: 100%;
    margin-bottom: 15px;
  }
}

.welcome-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  width: 100%;
  max-width: 1280px;
  margin: 75px auto 0;
}

@media only screen and (max-width: 1024px) {
  .mail {
    position: absolute;
    transform: translateY(-45%);
    opacity: 0.3;
  }

  .item {
    max-width: 1024px;
    margin: 7px;
    font-size: 14px;
    line-height: 22px;
  }

  .welcome-items {
    width: 100%;
    max-width: 1020px;
    padding: 0;
  }

  .welcome-flex {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .sm-left {
    .title {
      font-size: 24px;
      line-height: 28px;
      text-align: left;
    }

    .section-subtitle {
      text-align: left;
    }
  }

  .digits {
    margin-right: 10px;
    font-size: 24px;
    line-height: 28px;
  }

  .mail {
    top: 0;
    right: -10%;
    z-index: -1;
    max-width: 150%;
    margin: 0 10px 0 0;
    transform: translate(-5%, -30%);
  }

  .welcome-items {
    flex-flow: row wrap;
    width: 100%;
    margin-left: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  .welcome-flex {
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .welcome-flex {
    margin-left: 15px;
  }
}
