// Atoms
//
// If atoms are the basic building blocks of matter, then the atoms of
// our interfaces serve as the foundational building blocks that
// comprise all our user interfaces. Therefore these atoms would include
// basic HTML tags like form labels, inputs, buttons, and other elements
// that can’t be broken down any further without ceasing to be functional.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 52px;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: transform .25s ease;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}

.container {
  display: block;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content-block {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: auto;
}

.fixed {
  overflow: hidden;
}

.input {
  display: block;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 420px;
  width: 100%;
  height: 52px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 16px;

  &::placeholder {
    color: #fff;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 1px #fff inset;
    font-weight: 500;
  }
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.8px;

  &:after {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: block;
    height: 1px;
    background: #fff;
    transition: .3s;
    content: '';
  }

  &:hover:after {
    right: 1px;
    left: 1px;
  }
}

.text-thin {
  margin: 0 0 15px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: center;

  &-link {
    text-decoration: underline;
    word-wrap: break-word;
  }
  
  &-link-blue {
    color: #6495ed;
  }
  
  &-small {
    margin: 0 auto 15px;
    font-size: 12px;
    text-align: initial;
  }
}

.terms-text {
  text-align: justify;
  text-indent: 20px;
}

.text-italic {
  font-style: italic;
}

.no-intent {
  text-indent: 0px;
}

.terms-text > li {
  list-style-position: inside;
}

.numbered-list {
  padding-inline-start: 20px;

  li {
    text-indent: 0;
  }
}

.subtitle {
  margin: 5px auto;
  font-weight: 500;
  text-transform: uppercase;

  &-left {
    margin: 5px 0 20px;
    text-align: left;
    text-transform: none;
  }
  
  &-lowercase {
    max-width: 450px;
    margin-bottom: 20px;
    text-transform: none;
  }
}

.text-center {
  margin: 5px auto;
  max-width: 450px;
  text-indent: 20px;
  
  &-bold {
    margin: 30px auto;
    font-weight: bold;
  }
}

.text-with-image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .terms-text,
  .article-image {
    flex-basis: 48%;
    width: 48%;
  }

  .article-image {
    margin: 0 0 0 10px;
  }
}

.terms {
  margin: 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
}

.title {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-align: center;
}

.article {
  &-title {
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-date,
  &-time {
    width: 100%;
    margin: 0 0 10px;
    color: #fff;
    opacity: .5;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
  }
  
  &-time {
    margin: -15px 0 25px 20px;
    font-style: italic;
  }

  &-image {
    margin: 15px auto;
  }
  
  &-image-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  &-image-description {
    margin: 0 0 15px 20px;
  }

  &-snippet {
    margin: 0 0 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 24px;
    letter-spacing: 1px;
  }

  &-quote {
    padding: 5px 15px;
    border-left: 1px solid white;
    margin: 0 0 15px 20px;
    opacity: .6;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}

@media only screen and (max-width: 950px) {
  .text-with-image {
    flex-direction: column;

    .terms-text,
    .article-image {
      flex-basis: 100%;
      width: 100%;
    }

    .article-image {
      max-width: 450px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 425px) {
  .article-quote {
    margin-left: 0;
  }

  .container {
    padding: 0 15px;
  }

  .terms-text {
    text-align: left;
    text-indent: 0;
  }

  .numbered-list {
    padding-inline-start: 0;
  }
}

