<!--Footer-->
<footer>
  <div class="wrapper-footer">
    <div class="footer-logo-copyright">
      <a class="logo2" href="/"><img src="../../assets/img/logo2.png" width="162" height="27" alt="logo2"></a>
      <span class="copyright">&#x24B8; 2017-2020 MailCheck</span>
    </div>
    <nav class="footer-nav" role="navigation">
      <a class="nav-link footer-nav-link" href="/#features">Features</a>
      <a class="nav-link footer-nav-link" href="/#pricing">Pricing</a>
      <a class="nav-link footer-nav-link" href="#contact-us">Contact Us</a>
      <a class="nav-link footer-nav-link" href="/blog">Blog</a>
      <a class="nav-link footer-nav-link" href="/privacy">Privacy policy</a>
      <a class="nav-link footer-nav-link" href="/terms">Terms and conditions</a>
      <a class="nav-link footer-nav-link" href="//nodeart.io">Product of NodeArt</a>
    </nav>
    <span class="copyright2">&#x24B8; 2017-2020 MailCheck</span>
  </div>
</footer>
