<!--Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo-copyright">
        <a class="logo2" href="/"><img src="../../assets/img/mailcheck-logo.svg" width="162" height="27" alt="logo2"></a>
        <address class="footer-address">
          Suite 4005 43 Bedford Street,<br/>
          London, England, WC2E 9HA
        </address>
      </div>
      <nav class="footer-nav" role="navigation">
        <a class="nav-link footer-nav-link" href="/#features">Features</a>
        <a class="nav-link footer-nav-link" href="/#pricing">Pricing</a>
        <a class="nav-link footer-nav-link" href="/#contact-us">Contact Us</a>
        <a class="nav-link footer-nav-link" href="/blog">Blog</a>
        <a class="nav-link footer-nav-link" href="/privacy">Privacy policy</a>
        <a class="nav-link footer-nav-link" href="/terms">Terms and conditions</a>
        <a class="nav-link footer-nav-link" href="//nodeart.io">Product of NodeArt</a>
        <a class="nav-link footer-nav-link" href="https://app.mailcheck.co/docs#tag--email" target="_blank">API</a>
      </nav>
      <div class="footer-social-mobile">
          <a href="https://www.facebook.com/mailcheck.co/" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-facebook.svg" alt="Facebook">
          </a>
          <a href="https://www.linkedin.com/company/53483451/" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-linkedin.svg" alt="LinkedIn">
          </a>
          <a href="https://twitter.com/mailcheckco" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-twitter.svg" alt="Twitter">
          </a>
          <a href="https://github.com/MailCheck-co" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-github.svg" alt="GitHub">
          </a>
        </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-info left">
        <div class="footer-info-item">
          <img class="footer-info-logo" src="../../assets/img/es-logo.svg" alt="">
          <p class="footer-info-text">
            GDPR Compliant<br/>
            We will never share your data.
          </p>
        </div>
        <div class="footer-info-item">
          <img class="footer-info-logo" src="../../assets/img/icon-money-back.svg" alt="">
          <p class="footer-info-text">
            40 days<br/>
            money-back guarantee
          </p>
        </div>
      </div>
      <div class="footer-info right">
        <span class="copyright2">&#x24B8; 2017-2020 Mailcheck</span>
        <div class="footer-social">
          <a href="https://www.facebook.com/mailcheck.co/" target="_blank" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-facebook.svg" alt="Facebook">
          </a>
          <a href="https://www.linkedin.com/company/53483451/" target="_blank" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-linkedin.svg" alt="LinkedIn">
          </a>
          <a href="https://twitter.com/mailcheckco" target="_blank" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-twitter.svg" alt="Twitter">
          </a>
          <a href="https://github.com/MailCheck-co" target="_blank" class="footer-social-link">
            <img class="footer-social-icon" src="../../assets/img/icon-github.svg" alt="GitHub">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
