<!--Header-->
<header role="banner">
    <div class="wrapper-header">
        <a class="logo" href="/"><img src="../../assets/img/logo.png" width="138" height="27" alt="mail"></a>
        <nav class="header-nav" role="navigation">
            <a class="nav-link" href="#features">Features</a>
            <a class="nav-link" href="#pricing">Pricing</a>
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#contact-us">Contact Us</a>
            <a class="nav-link" href="#faq">FAQ</a>
        </nav>
        <a href="//app.mailcheck.co/" class="btn btn-sign-in">sign in</a>
    </div>
</header>

<!--Mobile menu-->
<span class="burger" id="burger"></span>
<nav class="mobile-menu" role="navigation" id="mobile-menu">
    <a class="nav-link mobile-menu-links" href="#features">Features</a>
    <a class="nav-link mobile-menu-links" href="#pricing">Pricing</a>
    <a class="nav-link mobile-menu-links" href="#">About Us</a>
    <a class="nav-link mobile-menu-links" href="#contact-us">Contact Us</a>
    <a class="nav-link mobile-menu-links" href="#faq">FAQ</a>
    <a href="//app.mailcheck.co/" class="btn btn-sign-in mobile-btn">sign in</a>
</nav>

