// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$nebula: #d2e1dd;
$white: #fff;
$dawn-pink: #f2ece4;
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;
$black: #000;

// main color palette
// =============
$color-primary: $hopbush;
$color-secondary: $bouquet;
$color-accent: $patina;
$color-shadow: rgba($black, 0.125);
$color-note: #666;

// Common colors
$color-background: $white;
$color-background-shade: $iron;
$color-background-invert: $hopbush;
$color-text: darken($pale-sky, 15);
$color-text-weak: $regent-grey;
$color-text-strong: $midnight-blue;
$color-text-heading: $regent-grey;
$color-text-invert: rgba($color-background, 0.75);
$color-text-strong-invert: $color-background;

// Links
$color-link: $color-primary;
$color-link-hover: $midnight-blue;
$color-link-visited: $bouquet;

// Code
$color-code: #333;
$color-code-background: #f3f3f3;
$color-pre: #d4d4d4;
$color-pre-background: #333;

// Selections
$color-selection: #b3d4fc;

// Messages
$color-message: #f4ecbb;
$color-success: #2cde2c;
$color-warning: #cf8600;
$color-important: #d00;
$color-notice: #66b;

// Mailchack Landing colors
$primary-white: #fff;
$primary-accent: #1bced4;
$dark-01: rgba(255, 255, 255, 0.1);
$dark-02: rgba(255, 255, 255, 0.2);
$dark-04: rgba(255, 255, 255, 0.4);
$dark-05: rgba(255, 255, 255, 0.5);
$light-blue-link: #6495ed;
$section-titles-color: rgba(17, 50, 78, 0.2);
$pricing-plan-pro: #55baff;
$pricing-plan-agency: #1edfd0;
$pricing-plan-enterprise: #7d7d7d;
$pricing-plan-custom: #e6514e;
$pricing-plan-border-pro: rgba(85, 187, 255, 0.5);
$pricing-plan-border-agency: rgba(85, 187, 255, 0.5);
$pricing-plan-border-enterprise: rgba(85, 187, 255, 0.5);
$pricing-plan-border-custom: rgba(85, 187, 255, 0.5);
$footer-divider-border: #333;
$light-accent-btn: #5fcbd2;
$testimonials-dark-bg: #030914;

// Grdients
$bg-gradient-desc: linear-gradient(
  to top,
  #000 5%,
  #0b182d 10%,
  #0a172e 50%,
  #030914 100%
);
$bg-gradient-mob: linear-gradient(
  to top,
  #000 10%,
  #0b182d 15%,
  #0a172e 50%,
  #030914 100%
);
$card-bg-gradient: linear-gradient(to top, #030914 0%, #030914 100%);
$slider-overlay-gradient-left: linear-gradient(
  90deg,
  rgb(10, 23, 46) 0%,
  rgba(10, 23, 46, 0) 100%
);
$slider-overlay-gradient-right: linear-gradient(
  -90deg,
  rgb(10, 23, 46) 0%,
  rgba(10, 23, 46, 0) 100%
);
$mob-menu-gradient: linear-gradient(to top, #1edfcf 0%, #5bf 100%);
$popup-bg-gradient: $mob-menu-gradient;
