<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Mailcheck | CSV file: theoretical aspects and practical usage</title>
  <meta name="description" content="We care about your privacy and do not share any data">
  <meta name="robots" content="all">

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon.png">

  <!-- CSS, you gotta have style -->

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
        media="all" onload="if(media!='all')media='all'">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-KXLTC2Z');</script>
  <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{>partials/header}}


<!--Privacy Policy-->
<main class="terms" id="blog">
  <div class="container">
    <div class="content-block">

      <h2 class="title">CSV file: theoretical aspects and practical usage</h2>
      <p class="text-thin terms-text">A CSV file is an acronym for Comma Separated Values File that presents a file with
        values separated (delimited) by commas. A CVS file is a text format file designed to depict spreadsheet
        data.</p>
      <p class="text-thin terms-text no-intent">A CSV file is full of data that can be imported to a database. Also,
        this file
        format can contain datasets needed for spreadsheets compiling.</p>
      <p class="text-thin terms-text no-intent">The CSV files are responsible for ensuring the liaison with various
        systems,
        facilitating transfer and handling large data with a spreadsheet structure.</p>
      <p class="text-thin terms-text no-intent">You should also note, that each line in a CSV file is a separate
        spreadsheet line.
        The value of the chosen column is a value that is delimited with a comma. If these values are contain reserved
        symbols, than we should use double quotes as a separator. Nonetheless, a similar data format is used by various
        software, some of which, use semicolon as a separator.</p>

      <h3 class="text-thin subtitle">CSV's file structure</h3>
      <p class="text-thin terms-text">The structure of a CSV file is quite simple. As was mentioned above, the content
        of a file is a data delimited by commas. So, the structure, for example, can be the following:</p>
      <p class="text-thin terms-text">ProductName,ItemNumber,Q-ty,Price</p>
      <p class="text-thin terms-text"><i>Phone X,263715,50,&#36;500</i></p>
      <p class="text-thin terms-text"><i>Laptop Y,223321,100,&#36;1000</i></p>
      <p class="text-thin terms-text no-intent">Each CSV file can contain a various number of lines and rows as well as
        be more complicated than shown above.</p>
      <p class="text-thin terms-text no-intent">The key feature of Comma Separated Values File is simplicity that can be
        used for
        further work with the given file.</p>

      <h3 class="text-thin subtitle">How to create a CSV file</h3>
      <p class="text-thin terms-text">A CSV file can be processed by a text editor. The list of software is pretty
        significant in size, among those are: Microsoft Office, Microsoft Works, Corel WordPerfect Office X6, OpenOffice
        Calc, Google Sheets, and Notepad.</p>
      <p class="text-thin terms-text no-intent">To create a CSV file (with spreadsheet software) please follow the
        instructions:</p>
      <ol class="text-thin terms-text numbered-list">
        <li>Open a new spreadsheet in Microsoft Excel, OpenOffice Calc or Google Sheets.</li>
        <li>Indicate all headings and field names in the first row of cells at the top of a spreadsheet. For instance,
          indicate "Product Name" in A1 cell, "Product Price" in B1 cell etc.
        </li>
        <li>Enter data into cells and rows of a table. Continue to create spreadsheet content.</li>
        <li>Fill all necessary data and then press File>Save as>. Input file name and choose an option Save as type
          .CSV. That's all, the CSV file is ready to use. The commas will be added automatically in order to separate
          fields including data.
        </li>
      </ol>
      <p class="text-thin terms-text no-intent">The process of creating a CSV file with a Notepad is similar.</p>

      <h3 class="text-thin subtitle">How to open a CSV file</h3>
      <p class="text-thin terms-text">Firstly, you need to open a file with a CSV format with a double click. When file
        association has been configured properly without any errors or warnings, you can open a file with a software
        mentioned above, and set one of these applications as a default option.</p>
      <p class="text-thin terms-text no-intent">
        Also, there are some spreadsheet programs that allow the user to open such files and make it easier to read the
        file content.</p>
      <p class="text-thin terms-text no-intent">All you need is right-click the CSV file and choose Open With > [Select
        a desirable option].</p>

      <h3 class="text-thin subtitle">How to convert a file to CSV and from CSV format</h3>
      <p class="text-thin terms-text">Be careful when converting a file to a CSV format. You should remember that you
        can't rename a text file with a .TXT file format to a .CSV file. This action is unable to change a file type. In
        this case, you should use specific software for this purpose. There is a significant number of software
        including online services as well as Microsoft Office, Microsoft Works, Corel WordPerfect Office X6, OpenOffice
        Calc, Google Sheets or others.</p>
      <p class="text-thin terms-text no-intent">To convert datasheets from Excel or Open Office you must perform the following operations:
      </p>
      <ol class="text-thin terms-text numbered-list">
        <li>Open your file with desirable software.</li>
        <li>Click a tab File>Save as.</li>
        <li>Select Save as Type CSV and input file name.</li>
      </ol>
      <p class="text-thin terms-text no-intent">If you are commonly using Google Sheets, do the next:</p>
      <ol class="text-thin terms-text numbered-list">
        <li>Open a file with Google Sheets.</li>
        <li>Right-click a tab File>Download as.</li>
        <li>Select "Comma-separated values".</li>
      </ol>
      <p class="text-thin terms-text no-intent">The procedure of converting to a CSV file with using spreadsheet software is
        similar. You can also use online services to get a CSV file.
      </p>
    </div>
  </div>
</main>

{{>partials/contactus}}
{{>partials/footer}}
{{>partials/TAWK.to-script}}

</body>
</html>
