<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Mailcheck | Blog | Simple Email Marketing Campaign Guide for Small Business</title>
    <meta name="description" content="Simple Email Marketing Campaign Guide for Small Business">
    <meta name="robots" content="all">

    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="canonical" href="https://www.mailcheck.co/emailMarketingCampaignGuide">

    <!-- CSS, you gotta have style -->

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
          media="all" onload="if(media!='all')media='all'">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KXLTC2Z');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{>../partials/header}}


<!--Privacy Policy-->
<main class="terms">
    <div class="container">
        <div class="content-block">
            <h1 class="title">Simple Email Marketing Campaign Guide for Small Business</h1>
            <p class="text-thin terms-text">Email marketing is the cheapest and potentially profitable way to
                communicate with your audience. For example, Monitor company has calculated the expenditure/income for
                email marketing as 1:38. It is likely you do not mind getting such a ROI for your small business email
                marketing campaign. Thus, we decided to make this simple guide.</p>
            <h2 class="text-thin subtitle">Write ‘alt’ and ‘title’ for Images</h2>
            <p class="text-thin terms-text">MarketingCharts agency has derived that usually we get up to 400 business
                emails per month. Letters that have images can help you catch more attention especially if you manage to
                take a good one which can cause an emotional reaction from the subscriber.</p>
            <p class="text-thin terms-text no-intent">However, it is necessary to consider that almost the half of all
                letters are opened on the mobile devices. Although mobile devices provide faster response, small
                monitors not always are fit for proper image display. Thus, if the recipient opens letter only to see
                the blocked image he will barely be satisfied by your letter. The more often it happens, the harder it
                is going to be to make a positive reputation of you as a valuable sender.</p>
            <img class="article-image" src="../../assets/img/email-marketing-campaign-guide-img-1.jpg" width="500"
                 height="267"
                 alt="Simple Email Marketing Campaign Guide for Small Business">
            <p class="text-thin terms-text no-intent">Filling in ALT and TITLE tags can improve your conversion
                dramatically. Non-commerce organization WebAIM has pointed out that filled in ALT tag in the image
                provides more loyal attitude towards blocked images. Check whether the tag ALT is filled in your letters
                and make sure it reflects the content of the image.</p>
            <h2 class="text-thin subtitle">Specify The Topic of Newsletter and Adhere It</h2>
            <p class="text-thin terms-text">Although you cannot know everything about your subscribers, you can
                definitely find out their reaction on the different kinds of content you send them. bring efforts to
                track the core email marketing metrics like open rate. Try to define the best time for sending the next
                letter and the best topics. Divide the recipients of the letters based on their interests to personalize
                your newsletter.</p>
            <p class="text-thin terms-text no-intent">Internet Retailer agency has defined that Isotoner bookmaker
                company has increased their income from email marketing campaign on 7000% when they have enforced
                analysis on the basis of the previously sent letters.</p>
            <img class="article-image" src="../../assets/img/email-marketing-campaign-guide-img-2.png" width="340"
                 height="148"
                 alt="Simple Email Marketing Campaign Guide for Small Business">
            <h2 class="text-thin subtitle">Do not Ask too Much</h2>
            <p class="text-thin terms-text">Work with each segment of your subscribers so that each of them could get
                the most relevant and personalized content based on the previous actions and interests.</p>
            <p class="text-thin terms-text no-intent">If user has already declined one of your offers make it all to
                formulate more attractive offer for him or give him a chance to estimate service for free during a trial
                period.</p>
            <h2 class="text-thin subtitle">Build Relations with Your Clients</h2>
            <p class="text-thin terms-text">All letters of your company should be connected to each other and show that
                you know about client all based on his previous activity. However, do not make it look creepy to avoid
                calling opposite effect. Epsilon company has found out that if you send clients letters that are
                relevant to the previous ones the open rate increases on 75%. In case you cannot convince your
                subscribers open the letters you cannot convert them to clients even you have an outstanding service or
                offer.</p>
            <h2 class="text-thin subtitle">Reputation and Mailing Services</h2>
            <p class="text-thin terms-text">In case you use a specialized service for sending newsletter you get a few
                points to your <a class="text-thin text-thin-link" href="/sendersReputation">
                    sender’s reputation</a> in the eyes of the ESP. The higher is the deliverability rate, the
                more clients you can convert so services use addresses with the high IP rating which is supported by the
                majority of actions.</p>
            <h2 class="text-thin subtitle">Poor Mailing List</h2>
            <p class="text-thin terms-text">It is better to have small mailing list containing the addresses of users
                that really want to get your newsletters than a huge base of barely real subscribers that did not
                confirm getting emails from you.</p>
            <p class="text-thin terms-text no-intent">You can read about the way to keep your mailing list clean <a class="text-thin text-thin-link" href="/increaseEmailsDeliverability">in our
                article</a>. The main thing you need to know - immediately delete the user if you got the hard bounce for
                him and the user which has caused a soft bounce more than 3 time a month.</p>
            <h2 class="text-thin subtitle">Poor Content</h2>
            <p class="text-thin terms-text">Make sure you make a proper proofread of the content you send. Your letters
                shouldn’t look spammy. Avoid stop-words, different-color fonts, excessive amount of exclamation marks.
                Check the links as ESPs doesn’t like broken links. They also do not like letters that contain nothing
                but a single image.</p>
            <h2 class="text-thin subtitle">Make a Content Plan for Your Newsletter</h2>
            <p class="text-thin terms-text">Making a regular newsletter is a good way to make your users get used to
                reading your emails. Make an analysis of your subscriber base preferences and choose the best days to
                send them letters.</p>
            <h2 class="text-thin subtitle">Conclusion</h2>
            <p class="text-thin terms-text">Although email marketing is a must-have for any small business for
                communication it still demands from you much efforts to make it personalized and profitable on the stage
                of building email marketing campaign. If you adhere the guide above it is going to be easy for you to
                get a magnificent ROI.</p>

        </div>
    </div>
</main>

{{>../partials/contactus}}
{{>../partials/footer}}
{{>../partials/TAWK.to-script}}

</body>
</html>
