<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Mailcheck | Blog | X Ways to Increase Emails Deliverability</title>
  <meta name="description" content="X Ways to Increase Emails Deliverability">
  <meta name="robots" content="all">

  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="canonical" href="https://www.mailcheck.co/increaseEmailsDeliverability">


  <!-- CSS, you gotta have style -->

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
        media="all" onload="if(media!='all')media='all'">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-KXLTC2Z');</script>
  <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{>../partials/header}}


<!--Privacy Policy-->
<main class="terms">
  <div class="container">
    <div class="content-block">
      <h2 class="title">X Ways to Increase Emails Deliverability</h2>
      <p class="text-thin terms-text">When you launch a new email marketing campaign it doesn’t matter whether you have
        managed to make a good strategy, write an extra-selling content or provide a super valuable service if at the
        end your email won’t reach the potential client.</p>
      <p class="text-thin terms-text">Thus, it would be a good idea for anyone who wants to launch an email marketing
        campaign to take into consideration the tips below as they will help you to increase emails deliverability
        dramatically.</p>
      <h3 class="text-thin subtitle">1. Do Not Purchase Email Lists</h3>
      <p class="text-thin terms-text">You have probably seen the tons of mailing lists on sale. Probably, there are some
        of them containing email addresses of real users. However, those are people that have subscribed on someone else
        newsletter, not your. Thus, if you send them emails there is high chance that you or your email server gets to
        the blacklist of email providers. Such bases usually contain catch-all email servers used for detecting and
        blocking spammers.</p>
      <h3 class="text-thin subtitle">2. Do Not Grab Emails from Other Websites</h3>
      <p class="text-thin terms-text">It’s true you can really quickly collect an email base if you parse other
        websites. However, sending letters to such email addresses will make your domain look spammy in the eyes of
        ESPs.</p>
      <h3 class="text-thin subtitle">3. Don’t Send an Email on The Address if You Already Got Mail Delivery Failure From
        It</h3>
      <p class="text-thin terms-text">Email address can be blocked, deleted or written with a mistake. You never can
        deliver email on these addresses so if you continue making attempts again and again your address reputation will
        be spoiled.</p>
      <h3 class="text-thin subtitle">4. Do not Use Video and Javascript in Your Letters</h3>
      <p class="text-thin terms-text">Most of the people in your mailing list won’t appreciate it as rich-media content
        is likely to be not displayed.</p>
      <p class="text-thin terms-text">The same thing concerns javascript - even if you pass the spam-filters, email
        clients won’t be able to execute javascript, that you place in the letter.</p>
      <h3 class="text-thin subtitle">5. Do not Place Forms Inside The Letter Body</h3>
      <p class="text-thin terms-text">Forms are not supported by any of the email client. Though no one can forbid you
        to place in a letter a call-to-action motivating person to fill the form.</p>
      <img class="article-image" src="../../assets/img/increase-emails-deliverability-img1.png" width="355" height="360"
           alt="Increase Emails Deliverability">
      <h3 class="text-thin subtitle">6. Do not Attach Files to The Letter</h3>
      <p class="text-thin terms-text">In case you want to send doc or pdf file it is better to attach it to your website
        and then place a download link in your letter.</p>
      <h3 class="text-thin subtitle">7. Do not Use Spam Words</h3>
      <p class="text-thin terms-text">If you use in your newsletters words like ‘free’, ‘today only’, ‘your last chance
        to…’ your letter is imposed to risk of getting into the spam box. Be creative and try to figure out something
        more unique.</p>
      <h3 class="text-thin subtitle">8.Do not use in your letter bold and colored fonts.</h3>
      <p class="text-thin terms-text">The same thing concerns the text placed on the background of the similar color -
        just like the text itself or other spammer stuff. Your letter is going to be blocked by the spam-filters in
        99%.</p>
      <h3 class="text-thin subtitle">9. Always check your writing before you send the letter</h3>
      <p class="text-thin terms-text">80% of respondents negatively accept the letters containing grammatical and
        punctual mistakes.There exist so many good translating services, do not hesitate to use them before you send the
        newsletter.</p>
      <h3 class="text-thin subtitle">10. Write for people, not for robots</h3>
      <p class="text-thin terms-text">Do not add too much keywords to the text. Write letters on the language you
        understand, be creative, produce interesting and valuable content.</p>
      <h3 class="text-thin subtitle">11. Maintain Actuality of Your Mailing List</h3>
      <p class="text-thin terms-text">Even if your mailing list is collected only from the addresses that have passed
        opt-in subscription you still can look spammy in the eyes of ESPs if you do not follow the primitive
        recommendations:</p>
      <ul class="text-thin terms-text">
        <li>Always delete from your list abandoned and deleted addresses</li>
        <li>Always delete addresses which cause several soft or one hard bounce</li>
        <li>Track the email openings of your subscribers</li>
      </ul>
      <h3 class="text-thin subtitle">12. Use Double-Opt-In</h3>
      <p class="text-thin terms-text">With double-opt-in authorization you send a subscriber an additional email where
        you ask him to click activation link to confirm subscription. Thus, there is no chance for you to get a wrong
        email address in your mailing list.</p>
      <img class="article-image" src="../../assets/img/increase-emails-deliverability-img2.jpg" width="312" height="162"
           alt="Increase Emails Deliverability">

      <h3 class="text-thin subtitle">13. Always Add a Subscription Refusal Link to Your Letter</h3>
      <p class="text-thin terms-text">Each letter must contain an unsubscribing link. It is ideal to make it possible
        for your subscriber to give up on your subscription in one click, though you also can place on the refusal page
        a form where user can point out the reason of unsubscribing.</p>
      <h3 class="text-thin subtitle">14. Add Subscriber’s Name to The Subject Line</h3>
      <p class="text-thin terms-text">ESPs better treat personalized letters. Adding subscriber’s name to the
        subject-line can show you know him and he is really awaiting your letter.</p>
      <h3 class="text-thin subtitle">15. Add the Plain-Text Version of The Letter if You Send HTML Letters</h3>
      <p class="text-thin terms-text">If you send HTML letters you need to add plain-text version because:</p>
      <ul class="text-thin terms-text">
        <li>some email-clients do not support html display</li>
        <li>most people prefer plain-text seeking for mobile traffic decrease</li>
        <li>ESPs love plain-text</li>
      </ul>
      <h3 class="text-thin subtitle">16. Add to the Letter Link to Its Online Version</h3>
      <p class="text-thin terms-text">Unfortunately, some email-clients can display your letter not properly. In this
        case you should provide an online version of the letter. You can add a link to such a version on the top of the
        letter.</p>
      <h3 class="text-thin subtitle">17.Be Laconic</h3>
      <p class="text-thin terms-text">ESP spam filters do not like letters that contain only one line, though they also
        do not like letters that contain many thousands of symbols. Be laconic in your letters and try to make them not
        more than 500-1000 symbols in length, use paragraphs, so that it would be more comfortable for your subscribers
        to read them.
      </p>
      <p class="text-thin terms-text">That’s all. We hope this list will be helpful for those who want to increase
        email deliverability of the newsletter.
      </p>
    </div>
  </div>
</main>

{{>../partials/contactus}}
{{>../partials/footer}}
{{>../partials/TAWK.to-script}}

</body>
</html>
