<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Mailcheck | Blog | All You Need to Know About Sender’s Reputation</title>
    <meta name="description" content="All You Need to Know About Sender’s Reputation">
    <meta name="robots" content="all">

    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="canonical" href="https://www.mailcheck.co/sendersReputation">

    <!-- CSS, you gotta have style -->

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet"
          media="all" onload="if(media!='all')media='all'">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KXLTC2Z');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLTC2Z"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{>../partials/header}}


<!--Privacy Policy-->
<main class="terms">
    <div class="container">
        <div class="content-block">
            <h1 class="title">All You Need to Know About Sender’s Reputation</h1>
            <p class="text-thin terms-text">Sender’s reputation directly affects whether your letters reach the user’s
                inbox or not. The higher is your sender reputation the less are the chances your letter goes to spam and
                the ESP enforces sanctions on your IP or mailbox. Thus, even if you have an ideal selling content and
                outstanding product, that all doesn’t matter for your email marketing campaign if your sender’s
                reputation is low.</p>
            <h2 class="text-thin subtitle">Sender’s Reputation Depends on…</h2>
            <p class="text-thin terms-text">It is calculated by the ESP services. Based on the rating assigned to your
                by ESP your letters either pass through the server filters or do not reach the recipient. Algorithms
                used for definition of the rating are barely disclosed by the email service providers just like the
                algorithms of page promotion by search engine. Thus, there are unique algorithms for each ESP. There are
                tens of parameters that can affect your rating, here is the short list of those you can influence
                on:</p>
            <ul class="text-thin terms-text">
                <li>IP-address or domain rating</li>
                <li>the share of recipients sending your letter to spam box</li>
                <li>the number of letters sent to nonexistent addresses and <a class="text-thin text-thin-link"
                                                                               href="/catchAllServers">the
                    catch-all email servers</a></li>
                <li>number of letters deleted without being read</li>
                <li>email-authentication settings</li>
                <li>periodicity of mailing</li>
                <li>software and scripts used to make newsletters</li>
                <li>letter content and links</li>
                <li>opening and click rate</li>
                <li>letters answered and forwarded</li>
            </ul>
            <p class="text-thin terms-text no-intent">Reputation rate is not a constant figure - it can change rapidly.
                Each newsletter you send can affect your reputation either positively or negatively. Thus, even if your
                IP always had high reputation there is always a chance it gets to the blacklist if you break the
                rules.</p>
            <p class="text-thin terms-text no-intent">You may think that it is enough changing your domain and IP
                address - well, that doesn’t work like that. Providers save the mailing history, thus they use
                algorithms to find the bad senders even if one has changed IP or domain address.</p>
            <h2 class="text-thin subtitle">How to Track the Sender’s Reputation</h2>
            <p class="text-thin terms-text">In order to make a right calculation of reputation rate you need to set the
                email authentication: SPF, DKIM and DMARC need to be provided. It helps to define precisely the author
                of email and protect recipients and reputable senders from the spammers and frauders. Thus, all the
                newsletter without these things prescribed get a low reputation rate initially.</p>
            <p class="text-thin terms-text no-intent">ESPs are interested in making mailings spam-free, thus they help
                senders track their reputation and increase it. For example, Google has a number of services developed
                for email marketers you can use. These services can help you get a detailed statistics on your letters
                deliverability rate.</p>

            <h2 class="text-thin subtitle">Gmail: <a class="text-thin subtitle text-thin-link"
                                                     href="https://postmaster.google.com/">postmaster.google.com</h2>
            <p class="text-thin terms-text">Main metrics:</p>
            <ul class="text-thin terms-text">
                <li>IP reputation rate</li>
            </ul>
            <img class="article-image" src="../../assets/img/senders-reputation-img-1.jpg" width="1000" height="469"
                 alt="All You Need to Know About Sender’s Reputation">
            <ul class="text-thin terms-text">
                <li>Domain Reputation</li>
            </ul>
            <img class="article-image" src="../../assets/img/senders-reputation-img-2.jpg" width="800" height="281"
                 alt="All You Need to Know About Sender’s Reputation">
            <p class="text-thin terms-text no-intent">It is good that Google makes different graphs for the domain and
                IP reputation. You can understand promptly if somewhere there are any problems by tracking the decreased
                indicator. However, there is one shortcoming for this tool - you only can track your statistics if you
                send at least 200-500 letters a day on gmail inbox mails.</p>
            <h2 class="text-thin subtitle">How to Deal with Reputation Decrease</h2>
            <p class="text-thin terms-text">Let’s imagine that you have tracked a negative trend in your reputation
                indicators. In order to fix the situation follow the instruction below:</p>
            <ol class="text-thin terms-text numbered-list">
                <li>Analyze your last actions since the moment reputation decrease has started. Watch through the
                    criterias that affect the rating and think over the reason that could decrease your reputation.
                    Haven’t added to your added list new recipients? Haven’t you change the topic of the mailings?
                </li>
                <li>Study up the reports in postmaster. Make sure there weren’t too much mistakes in your last
                    newsletters. Examine your letters for the rapid change of deliverability and open rate. In case you
                    noticed something like that define the differences with your other mailings. Make sure your
                    <a class="text-thin text-thin-link" href="/personalizeYourNewsletter">newsletter complies to the
                        requirements of ESPs</a>.
                </li>
                <li>Fix the mistakes. If there is an issue with the subscribers or emails delivered, you either delete
                    new subscribers from the mailing list or change the letters content.
                </li>
                <li>Contact support. If the reputation decrease reason hasn’t been revealed you need to ask ESP agents
                    what is going wrong. ESPs are always trying to help good senders.
                </li>
            </ol>
            <p class="text-thin terms-text no-intent">There are always good reasons for the sender’s reputation to
                decrease. It is hard to restore it on the previous level, so make sure you do it all to follow the rules
                of ESPs.</p>
            <h2 class="text-thin subtitle">Conclusion</h2>
            <p class="text-thin terms-text">Your sender’s reputation is the base score your email marketing efforts are
                based. Thus, it is important to make sure you look good in the eyes of the email service providers.</p>
        </div>
    </div>
</main>

{{>../partials/contactus}}
{{>../partials/footer}}
{{>../partials/TAWK.to-script}}

</body>
</html>
