@viewport { width: device-width; }

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  background-color: $color-background;
  scroll-behavior: smooth;
}

* {
  outline: none;

  &::before,
  &::after { box-sizing: inherit; }

  &:focus {
    outline: none;
  }
}

body {
  min-height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  background: transparent;
  outline: none;
  transition: color 0.2s;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

strong {
  font-weight: bold;
}
