html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  background-color: $color-background;
  scroll-behavior: smooth;
}

* {
  outline: none;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &:focus {
    outline: none;
  }
}

body {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: var(--family);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: $bg-gradient-desc;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-normal);
    font-family: var(--roboto);
  }

  a {
    text-decoration: none;
    background: transparent;
    outline: none;
    transition: color 0.2s;
  }

  strong {
    font-weight: var(--font-bold);
  }

  ul {
    margin-left: 20px;
    padding: 0;
  }
}

@media all and (max-width: 768px) {
  body {
    background: $bg-gradient-mob;
  }
}
