:global(#sapper) {
    max-width: 880px;
    margin: 0 auto;
}

:global(h1) {
    font-size: 1.4em;
    font-weight: 500;
    color: #fff;
}

:global(h2) {
    font-size: 1.4em;
    font-weight: 500;
    color: #fff;
}

:global(pre) {
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    padding: 0.5em;
    border-radius: 2px;
    overflow-x: auto;
    color: #fff;
}

:global(pre) :global(code) {
    background-color: transparent;
    padding: 0;
    color: #fff;
}

:global(ul) {
    line-height: 1.5;
}

:global(li) {
    margin: 0 0 0.5em 0;
    color: #fff;
}

:global(p) {
    color: #fff;
}
