:global(h1) {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 600;
  font-size: 2.25em;
  line-height: 40px;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
}

:global(h2) {
  color: #fff;
  font-weight: 600;
  font-size: 1.8em;
}

:global(h3) {
  color: #fff;
  font-weight: 600;
  font-size: 1.4em;
}

:global(pre) {
  padding: 0.5em;
  overflow-x: auto;
  color: #fff;
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
}

:global(pre) :global(code) {
  padding: 0;
  color: #fff;
  background-color: transparent;
}

:global(ul) {
  padding: 0 0 0 25px;
  line-height: 1.5;
}

:global(li) {
  margin: 0 0 0.5em 0;
  color: #fff;
}

:global(p) {
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: justify;
  text-indent: 20px;

  img {
    display: block;
    margin: 0 auto;
  }
}

:global(strong) {
  color: #fff;
  font-weight: 700;
}

:global(a) {
  color: #1bced4;
}

:global(a:visited) {
  color: #55baff;
}

:global(img) {
  max-width: 100%;
  height: auto;
}

[id] {
  scroll-margin-top: 10ex;
}
